
  <h1 class="text-center login-title"> Interface  <%= robot[0].name %></h1>
  <% if(flash && flash.err){ %>
  <ul class="alert alert-success" style="position: relative">
    <%Object.keys(flash.err).forEach(function(error){ %>
    <li><%- JSON.stringify(flash.err[error])%></li>
    <%})%>
  </ul>
  <%}%>

  <h3>status: <img id="img_state" height="30" width="30" src="/images/offline.png"> </h3>

  <div data-example-id="" class="bd-example">
      <div class="control-group">
        <input id="name_field" type="text" class="form-control" placeholder="name" name="name" required>
      </div>

      <div class="control-group">
        <input id="code_field" type="text" class="form-control" placeholder="code" name="code">
      </div>

      <div class="control-group">
        <select data-placeholder="Choose a type..." class="chzn-select" style="width:350px;" tabindex="2" name="element">
          <option value="button">button</option>
        </select>
      </div>

      <script type="text/javascript">
        $('.chosen-select-type').chosen({});
      </script>
      <br>
      <button id="new_action" type="button" class="btn btn-default">create an action</button>
  </div>




  <table class="table table-bordered">
    <caption>Actions</caption>
    <thead>
    <tr>
      <th>#</th>
      <th>Accion</th>
      <th>boton</th>
      <th></th>
    </tr>
    </thead>

    <tbody id="actualizar">

    <% indice = 0 %>
    <% _.each(actions, function(action){ %>
    <tr id="line_<%= action.id %>" data-model="action">
      <th scope="row"><%= indice++ %></th>
      <td><%= action.name %></td>
      <td> <button  id="button_<%= action.id %>" value="<%= action.code %>" type="button" class="btn btn-sm btn-success"><%= action.name %></button></td>
      <td> <button id="delete_action_<%= action.id %>" type="button" class="btn btn-sm btn-danger" onclick="row_action_deleted('<%= action.id %>')">Delete</button></td>
    </tr>
    <% })%>

    </tbody>
</table>





  <script type="text/javascript">
    $('#new_action').on('click',function(){
      alert("checked the button - new_action");

      $.ajax({
        url: '/interface/newaction/' + '<%= interface.id %>',
        type: 'GET',
        data: {name: $( "#name_field" ).val(), code: $( "#code_field" ).val()},
        contentType: 'application/json',
        dataType: 'json',

        done:function() {
        },

        success: function(data){
          alert("Action created");
          $("#actualizar").append(
            "<tr data-model=\"action\" id=line_" + data.id + ">" +
            "<th scope=\"row\">3</th>" +
            "<td>" + data.name + "</td>" +
          "<td> <button  id=\"button_" + data.id + "\" type=\"button\" value=\"" + data.code + "\" class=\"btn btn-sm btn-success\"\">" + data.name + "</button></td>" +
            "<td> <button id=\"delete_action_" + data.id + "\" type=\"button\" class=\"btn btn-sm btn-danger\" onclick=\"row_action_deleted('" + data.id + "')\">Delete</button></td>" +
          "</tr>"
          );
        },

        failure: function(msg) {
          alert("Fail : " + msg);
        },

        error: function(xhr, status, text) {
          var response = jQuery.parseJSON(xhr, text);
          alert(response.error);
        }
      });
    });


    function row_action_deleted(id) {
      alert("checked the button - delete_action");
      $.ajax({
        url: '/interface/deleteaction/' + id,
        type: 'GET',
        data: {},
        contentType: 'application/json',
        dataType: 'json',

        success: function (data) {
          $("#line_" + id).remove();
        },

        failure: function (msg) {
          alert("Fail : " + msg);
        },

        error: function (xhr, status, text) {
          //var response = jQuery.parseJSON(xhr, text);
          //alert(response.error);
        }
      });
    }

  </script>


  <div class="container">
    <div class="page-header -align-center">
      <h1>Mandar comandos <small> <!-- desarrollado por --> </small></h1>
    </div>

    <div id="content" class="row" style="height: 70%;">
      <div class="col-md-2"></div>
      <div id="cahtContent" class="col-md-6">
        <div class="panel panel-success">
          <div class="panel-heading">
            Comandos
          </div>
          <div id="chat" class="panel-body"></div>
        </div>
        <div>
          <form id="sendMessage" class="input-group" style="text-align: center; margin:0 auto;">
            <input id="message" class="form-control input-lg" type="text">
        <span class="input-group-btn">
          <button class="btn btn-lg btn-primary" type="submit">Mandar</button>
        </span>
          </form>
        </div>
      </div>

    </div>
  </div>


  <div>
    <% if (true){%>
    SI VIDEO ESTA ACTIVADO
    <% } %>
  </div>


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script type="text/javascript">


    // https://evothings.com/controlling-a-toy-car-with-evothings-and-raspberry-pi/


    //ROBOT
    jQuery(function($) {
      //conexion con el robot
      var address_robot = "<%= robot[0].ipaddress%>" + ":" + "<%= robot[0].port%>";
      var socket_robot = io.connect(address_robot);

      socket.on('connect', function()
      {
        Console.log('connected!')
        alert('conectado con el robot... ' + address_robot);
      });


      //mandar accion
      $('[id^=button_]').click(function (e) {
        e.preventDefault();
        var code = document.getElementById(this.id).value
        alert('enviando... ' + code);
        if (code != '') socket_robot.emit('sendMessage', code);
      });
    });

    window.onload = function subscribeAndListen() {
      io.socket.get('/interface/commandline/');
      var $chat = $('#chat');

      io.socket.on('interface', function (obj) {
        if (obj.verb == 'created') {
          var data = obj.data;
          console.log('Command ' + data.command + ' ' + data.id +' has been send.');
          $chat.append(' - ' + data.command + '<br/>');
        }
      });

    };

    var $messageForm = $('#sendMessage');
    $messageForm.submit(function (e) {
      var $message = $('#message');
      e.preventDefault();
      if($message.val() != '' ) io.socket.get('/interface/commandline/',{interface: '<%= interface.id %>' ,user_id: '<%= session.User.id%>'   ,command: $message.val()});
      $message.val('');
    });


       /*
    jQuery(function($){
      //Conecta con el servidor
      var socket = io.connect('http://192.168.1.16:3000');

      socket.on('connect', function() {
        console.log('check 2', socket.connected);
        //CAMBIO DE LA IMAGEN ESTADO
        var image = document.getElementById('img_state');
          image.src = "/images/online.png";
      });

      socket.on('disconnect', function () {
        console.log('check 2', socket.disconnected);
        //CAMBIO DE LA IMAGEN ESTADO
        var image = document.getElementById('img_state');
        image.src = "/images/offline.png";
      });
    });

*/
    //VIDEO
    //MUY MUY IMPORTANTE VIDEO STREAMING https://www.youtube.com/watch?v=nG7OhBnfefE

  </script>

  <div class="margintop20 marginbottom20">
  <a href="/robot/index" class="btn btn-sm btn-warning"> My Robots</a>
</div>









