<div id="slider_<%= slider.id %>" class="draggable"></div>

<script type="text/javascript">
  $("#slider_<%= slider.id %>").slider(
    {
      value: parseInt('<%= slider.value %>'),
      min: parseInt('<%= slider.min %>'),
      max: parseInt('<%= slider.max %>'),
      step: parseInt('<%= slider.step %>')
    }
  );
</script>
