<%- partial('../_alert.ejs') %>

<div id="video_<%= video.id %>" class="draggable position_<%= video.id %>" style="width: 300px; height: 300px">
  <canvas id="play_<%= video.id %>">
  ></canvas>
  <%- partial ('../video/style_video.ejs', {video: video})%>
</div>

