<tr id="line_<%= action.id %>" data-model="action">
  <th scope="row"></th>
  <td><%= action.name %></td>
  <td>
    <% if (action.icon){ %>

    <!-- http://blog.koalite.com/bbg/ -->

    <button id="button_<%= action.id %>" class="btn  btn-primary btn-custom_<%= action.id %>" value="<%= action.code %>">
      <span><img src="/uploads/icons/<%= action.icon %>.png" /></span>
      <% if (action.name != ''){%>
      <span><%= action.name %></span>
      <% }%>
    </button>
    <% } else { %>
    <button  id="button_<%= action.id %>" value="<%= action.code %>" class="btn btn-primary btn-custom_<%= action.id %>"><%= action.name %></button>
    <% } %>
  </td>
  <td> <button id="delete_action_<%= action.id %>" type="button" class="btn btn-sm btn-danger" onclick="row_action_deleted('<%= action.id %>')">Delete</button></td>
</tr>

<%- partial ('../action/style_action.ejs', {action: action})%>
