<%- partial('../_alert.ejs', {flash: flash}) %>

<h1 class="text-center"> <%= robot.name %></h1>

<div class="jumbox">
  <table id="actions_table" class="table">
    <thead>
    <tr>
      <th>#</th>
      <th>Accion</th>
      <th>boton</th>
      <th></th>
    </tr>
    </thead>
    <tbody id="actualizar">
    <% _.each(actions, function(action,index){ %>
    <tr id="line_<%= action.id %>" data-model="action">
      <th scope="row"><%= index %></th>
      <td><%= action.name %></td>
      <td>
        <% if (action.icon){ %>
        <button id="button_<%= action.id %>" class="btn btn-custom_<%= action.id %>" value="<%= action.code %>">
          <span><img src="/uploads/icons/<%= action.icon %>.png" /></span>
          <% if (action.name != ''){%>
          <span><%= action.name %></span>
          <% }%>
        </button>
        <% } else { %>
        <button  id="button_<%= action.id %>" value="<%= action.code %>" class="btn btn-custom_<%= action.id %>"><%= action.name %></button>
        <% } %>
      </td>
      <td>
        <a id="delete_action_<%= action.id %>" ype="button" class="btn btn-sm btn-danger"  onclick="row_action_deleted('<%= action.id %>')"><i class="fa fa-trash-o"></i> Delete </a> </td>
    </tr>
    <!-- insertat el estilo del boton -->
    <%- partial ('../action/style_action.ejs', {action: action})%>
    <% })%>
    </tbody>
  </table>


  <button type="button" class="btn btn-sm btn-danger" onclick="delete_actions('<%= interface.id %>')">Remove all actions</button>


<form id="action-form" class="form-signin" action="create" method="post" data-parsley-validate style="max-width: none">
  <div class="row">
    <h1 class="text-center login-title marginbottom20"><%= i18n('actions') %></h1>
    <div class="col-md-6">
      <div class="col-md-2"></div>
      <div class="col-md-10">

        <div class="control-group marginbottom5">
          <label for="name"><%= i18n("name") %> * :</label>
          <input id="name_field" type="text" class="form-control" placeholder="<%= i18n("name") %>" name="name">
        </div>

        <div class="control-group marginbottom5">
          <label for="name"><%= i18n("code") %> * :</label>
          <input id="code_field" type="text" class="form-control" placeholder="<%= i18n("code") %>" required="" name="code">
        </div>

        <div class="control-group marginbottom5">
          <label for="type"><%= i18n("type") %> *:</label>
          <div class="chosen_container">
            <select data-placeholder="Choose a type..." class="chzn-select-type" tabindex="2" name="element">
              <option value="button">button</option>
              <option value="push">push-button</option>
              <option value="joystick">joystick</option>
            </select>
          </div>
          <script type="text/javascript">
            $('.chzn-select-type').chosen({width: '100%'});
          </script>
        </div>

        <div class="row">
          <div class="col-md-7">
            <div class="control-group">
              <label for="icon"><%= i18n("selectanicon") %> *:</label>
              <div>
                <select id="slect_icon" data-placeholder="<%= i18n("selectanicon") %>" class="chzn-select-icon" tabindex="2">
                  <option value=""></option>
                  <% _.each(icons, function(icon){ %>
                  <option data-img-src="/uploads/icons/<%= icon.id %>.<%= icon.format.split('/').pop()%>" value="<%= icon.id %>">1</option>
                  <% })%>
                </select>
              </div>
              <script type="text/javascript">
                $('.chzn-select-icon').chosen({ width: '100%', disable_search: true });
              </script>
            </div>
          </div>
          <div class="col-md-5">
            <div class="button_right" style="margin-top: 30px">
              <button type="button" class="btn btn-success" data-toggle="modal" data-target="#writeModal">
                Upload a new icon
              </button>
            </div>
          </div>
        </div>

        <div class="control-group marginbottom5">
          <label for="name"><%= i18n("color") %> * :</label>
          <p>
            Default: <input name="color_default" id="default" value="true" required="" type="radio" onchange="disable_colorform()">
            custom: <input name="color_default" id="custom" value="false" type="radio" onchange="enable_colorform()">
          </p>
        </div>
        <script type="text/javascript">
          function enable_colorform(){
            $('#colorform').show();
          }
          function disable_colorform(){
            $('#colorform').hide();
          }
        </script>

      </div>
    </div>
    <div class="col-md-6">
      <div class="col-md-10">

        <div id="colorform" style="display:none">
          <div class="control-group">
            <label for="colortext"><%= i18n("text") %> * :</label>
            <div id="cp4" class="input-group colorpicker-component ">
              <input id="text_field" type="text" class="form-control" />
              <span class="input-group-addon"><i></i></span>
            </div>
          </div>

          <div class="control-group">
            <label for="colorbackground"><%= i18n("background") %> * :</label>
            <div id="cp" class="input-group colorpicker-component ">
              <input id="background_field" type="text" class="form-control" />
              <span class="input-group-addon"><i></i></span>
            </div>
          </div>

          <div class="control-group">
            <label for="colorbordert"><%= i18n("border") %> * :</label>
            <div id="cp2" class="input-group colorpicker-component ">
              <input id="border_field" type="text" class="form-control" />
              <span class="input-group-addon"><i></i></span>
            </div>
          </div>

          <div class="control-group">
            <label for="colorbordert"><%= i18n("activebackground") %> * :</label>
            <div id="cp3" class="input-group colorpicker-component ">
              <input id="active_background_field" type="text" class="form-control" />
              <span class="input-group-addon"><i></i></span>
            </div>
          </div>
          <script type="text/javascript">
            $('[id^=cp]').colorpicker({format: 'hex'});
          </script>
        </div>

      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
  <div class="form-signin">
    <input class="btn btn-lg btn-primary btn-block" value="<%= i18n('createaction') %>"  onclick="new_action('<%= interface.id %>')">
  </div>
  <input type="hidden" name="_csrf" value="<%= _csrf %>" />
</form>

  <script type="text/javascript">
    addLoadEvent(set_parsley_lang('<%= (typeof(req.session) !== 'undefined' && req.session.languagePreference) ? req.session.languagePreference : sails.config.i18n.defaultLocale  %>'));
    $('#action-form').parsley().on('field:validated', function() {
      var ok = $('.parsley-error').length === 0;
    })
  </script>

  <script type="text/javascript">
    function delete_actions(id) {
      $.ajax({
        url: '/interface/destroy/' + id,
        type: 'GET',
        success: function(data){
          $("#actualizar tr").remove();
          bootstrap_alert['success']('All actions has been deleted!', 5000 );
        },
        error: function(xhr, status, text) {
          bootstrap_alert['danger'](xhr.responseText, 5000 );
        }
      });
    }

    function new_action(id) {
      $.ajax({
        url: '/interface/newaction/' + id,
        type: 'GET',
        data: {name: $( "#name_field" ).val(), code: $( "#code_field" ).val(), color_background: $( "#background_field" ).val(), color_border: $( "#border_field" ).val(), color_active_background: $( "#active_background_field" ).val(), color_text:$( "#text_field" ).val(), icon: $(".chzn-select-icon").val(), color_default: $('input[name=color_default]:checked').val()},
        done:function() {
        },

        success: function(data){
          $("#actualizar").append(data);
          bootstrap_alert['success']('A new action has been created!', 5000 );
        },

        error: function(xhr, status, text) {
          bootstrap_alert['danger'](xhr.responseText, 5000 );
        }
      });
    }

    function row_action_deleted(id) {
      $.ajax({
        url: '/interface/deleteaction/' + id,
        type: 'GET',
        data: {},

        success: function (data) {
          $("#line_" + id).remove();
          bootstrap_alert['success']('A new action has been deleted!', 5000 );
        },

        error: function (xhr, status, text) {
          bootstrap_alert['danger'](xhr.responseText, 5000 );
        }
      });
    }

  </script>

</div>

<% partial ('csscode.ejs', {interface: interface})%>

<%- partial('config_panel.ejs', {actions: actions, interface: interface})%>

<div class="margintop20 marginbottom20">
  <a href="/robot/index" class="btn btn-sm btn-warning"> My Robots</a>
  <a href="/interface/show/<%= interface.id %>" class="btn btn-sm btn-primary"><i class="fa fa-gamepad" aria-hidden="true"></i> Take control</a>
</div>




<!-- PREVIEW   IMPLEMENTANDO::::::::: -->
<div class="floatright marginright20 margintop20">
  <div style="text-align: center">
    Preview
  </div>
  <div class="fileinput-preview thumbnail" style="width: 200px; height: 150px;">
    <button id="button_preview" class="btn btn-primary">texto</button>
  </div>
</div>


<script type="text/javascript">
  $('#button_preview').css('margin-left', $('#button_preview').width() * (-1));
  $('#button_preview').css('margin-top', $('#button_preview').height() * (-1));
</script>
<style>
  #button_preview{
    margin-left: 0px;
    margin-top: 0px;
    position:relative;
    top:50%;
    left:50%;
  }
</style>







<!-- Modal Upload icon -->
<div class="modal fade" id="writeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Upload icon</h4>
      </div>
      <div class="modal-body">
        <label for="question"><%= i18n("filesmallerthan %s","42") %></label>
        <form id="new_icon" enctype="multipart/form-data" method="post">
          <div class="fileinput fileinput-new input-group" data-provides="fileinput">
            <div class="form-control" data-trigger="fileinput"><i class="glyphicon glyphicon-file fileinput-exists"></i> <span class="fileinput-filename"></span></div>
            <span id="input_icon" class="input-group-addon btn btn-default btn-file"><span class="fileinput-new">Select file</span><span class="fileinput-exists">Change</span><input type="file" name="iconfile" data-parsley-filemaxmegabytes="42" data-parsley-trigger="change" data-parsley-filemimetypes="image/jpeg, image/png" required=""></span>
            <a id="remove_iconfile_input" href="#" class="input-group-addon btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
          </div>
          <input id="icon_csrf" type="hidden" name="_csrf" value="<%= _csrf %>"/>
        </form>
        <script type="text/javascript">
          $('#new_icon').parsley().on('field:validated', function() {
            var ok = $('.parsley-error').length === 0;
          })
        </script>


        <script type="text/javascript">
          //MUY IMPORTANTE SUBIR CON AJAX FILES
          //http://www.desarrolloweb.com/articulos/upload-archivos-ajax-jquery.html

          $("#new_icon").submit(function(e){
            e.preventDefault();
            var f = $(this);
            var formData = new FormData(document.getElementById("new_icon"));
            formData.append("dato", "valor");

            $.ajax({
              url: '/icon/create/' + '<%= interface.id %>',
              type: 'POST',
              cache: false,
              dataType: 'json',
              processData: false, // Don't process the files
              contentType: false, // Set content type to false as jQuery will tell the server its a query string request
              data: formData,
              beforeSend: function(xhr, settings){
                xhr.setRequestHeader('X-CSRF-Token', $("#icon_csrf").val());
              },
              done:function() {
              },
              success: function(data){

                alert('success');

                if(typeof data.error === 'undefined')
                {
                  console.log('SUCCESS: ' + data.success);
                  bootstrap_alert['success']('A new icon has been uploaded!', 3000 );

                  //limpiar el input
                  $("#remove_iconfile_input").trigger('click');

                  //Añadir el nuevo icono al chosen select
                  //

                }
                else
                {
                  // Handle errors here
                  console.log('ERRORS: ' + data.error);
                }
              }
            });
          });
        </script>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-success" onclick='$("#new_icon").submit()' >upload icon</button>
      </div>
    </div>
  </div>
</div>


