
<div class="text-center marginbottom20" xmlns="http://www.w3.org/1999/html">
  <h1><%= i18n('control_panel') %><small> <%= robot.name %> </small></h1>
</div>

<div id="board" class="panel panel-success iface_panel">
  <div class="panel-heading">
    <img style="max-width:150px;" src="/images/logo/logotipo.png">
  </div>

  <div class="paddingtop20 paddingleft20 paddingright20">

    <div class="row marginbottom10 marginleft20">
      <img id="img_state_<%= robot.id %>" height="30" width="30" src="/images/offline.png" class="marginright20">
      <button  id="connect" type="button" class="marginlef10 btn btn-sm btn-success"> <%= i18n('connect') %></button></td>
      <a href="/interface/full_screen/<%= interface.id %>" class="btn btn-sm btn-primary" ><i class="fa fa-expand"></i> <%= i18n('full_screen') %> </a>
    </div>

    <div class="row">
      <div id="box_panel" class="col-md-10">
        <div id="panel" class="panel_resizable work">

          <!-- Insert video -->
          <% if (video){%>
          <%- partial ('_video.ejs', {video: video})%>
          <%}%>

          <!-- Insert actions -->
          <% _.each(actions, function(action){ %>
            <%- partial ('_action.ejs', {action: action})%>
          <% })%>

          <!-- Insert sliders -->
          <% _.each(sliders, function(slider){ %>
            <%- partial ('_slider.ejs', {slider: slider})%>
          <% })%>

          <!-- Insert events -->
          <% _.each(events, function(event){ %>
            <%- partial ('_event.ejs', {event: event})%>
          <% })%>

        </div>
      </div>

      <div class="col-md-2">
        <%- partial ('_users.ejs')%>
        <%- partial ('_commands.ejs')%>
      </div>
    </div>

    <script type="text/javascript">
      $( "#panel").width(<%= interface.panel_sizex %>);
      $( "#panel").height(<%= interface.panel_sizey %>);
    </script>
  </div>
</div>

<%- partial ('_robot_info.ejs')%>

<%- partial('_js_interface_code.ejs')%>
