<%- partial('../_alert.ejs', {flash: flash}) %>


<div class="text-center marginbottom20">
  <h1>Control panel <small> <%= robot.name %> </small></h1>
</div>

<div id="board" class="panel panel-success margintop20">
  <div class="panel-heading">
    <img style="max-width:150px;" src="/images/logo/logotipo.png">
    <!--<a href="#" onclick="openWin(200,200,'board')"><i class="fa fa-external-link fa-2x floatright" style="height: 20px"></i></a>-->
  </div>

  <div class="paddingtop20 paddingleft20 paddingright20 paddingbottom20">
    <div class="row">

      <div id="box_panel" class="col-md-10">
        <div id="panel" class="panel_resizable work">

          <!-- Insert video -->
          <% if (video){%>
          <div id="stream-container">
            <canvas id="play_<%= video.id %>" width="400" height="300" style="border:solid;" style="background:src('/images/video/video.png');"></canvas>
            <%- partial ('../video/style_video.ejs', {video: video})%>
          </div>
          <%}%>


          <!-- Insert actions -->
          <% _.each(actions, function(action){ %>
          <% if (action.icon){ %>
          <button id="button_custom_<%= action.id %>" class="btn position_<%= action.id %> btn-custom_<%= action.id %>" value="<%= action.code %>">
            <img src="<%= sails.getBaseURL() + action.icon.iconUrl %>"  height="32" width="32" />
            <% if (action.name != ''){%>
            <%= action.name %>
            <% }%>
          </button>
          <% } else { %>
          <button  id="button_<%= action.id %>" value="<%= action.code %>" class="btn position_<%= action.id %> btn-custom_<%= action.id %>"><%= action.name %></button>
          <% } %>
          <%- partial ('../action/style_action.ejs', {action: action})%>
          <% })%>


          <!-- Insert events -->
          <% _.each(events, function(event){ %>
          <div id="event_<%= event.id %>" class="event_<%= event.id %> position_<%= event.id %>" style="max-width: 100px">
            <h5><%= event.name %> <span class="label label-pill label-danger">-</span></h5>
          </div>
          <%- partial ('../event/style_event.ejs', {event: event})%>
          <% })%>

       </div>
      </div>
      <div class="col-md-2">
          <div class="panel panel-info">
            <div class="panel-heading">Users</div>
            <div class="panel-body">
              <div id="user_viewer_list">
              </div>
            </div>
          </div>
        <div id="chatContent">
          <div class="panel panel-success">
            <div class="panel-heading">
              Comandos
            </div>
            <div id="chat" class="panel-body" style="min-height: 250px; max-height: 250px; overflow-y: scroll;"></div>
          </div>
        </div>
      </div>
      </div>
    </div>
    <script type="text/javascript">
      $( "#panel").width(<%= interface.panel_sizex %>);
      $( "#panel").height(<%= interface.panel_sizey %>);
    </script>
  </div>

<%- partial ('_robot_info.ejs')%>

</div>

<div class="pull-right margintop20 marginbottom20">
  <a href="/robot/index" class="btn btn-sm btn-warning">Back</a>
</div>


<script src="/socket.io/socket.io.js"></script>
<script type="text/javascript">

  function subscribeAndListen() {
    io.socket.get('/interface/view_subscribe/',{robot: '<%= robot.id%>', socket_id: io.socket.id});

    io.socket.on('message', function (obj) {
      //EVENTOS CAPURADOS
      switch (obj.type) {
        case 'action':
          console.log('action ' + 'id: ' + obj.id + ' msg: ' + obj.msg);
          $('#chat').prepend('- send: ' + obj.msg + '<br/>');
          $('#buttom_custom_' + obj.id).addClass('focus');
          break;


        case 'video':
          //read video stream
            console.log(obj.msg);
            try {
              var canvas = document.getElementById('play_' + obj.id);
              var context = canvas.getContext('2d');
              var imageObj = new Image();
              imageObj.src = "data:image/jpeg;base64," + obj.msg;
              imageObj.onload = function(){
                context.height = imageObj.height;
                context.width = imageObj.width;
                context.drawImage(imageObj,0,0,context.width,context.height);
              }
            } catch(e){ }

          break;

        case 'event':
          console.log('event ' + 'id: ' + obj.id + ' msg: ' + obj.msg.value);
          $('#chat').prepend('- received: ' + obj.msg.name + ': ' + obj.msg.value + '<br/>');
          $('#event_' + obj.id).html('<h5>' + obj.msg.name + '<span class="label label-pill label-danger">' + obj.msg.value + '</span></h5>');
          break;

        case 'new_viewer_user':
          if($("#" + obj.msg.user_id).length == 0) {
            $('#user_viewer_list').append('<p id="' +  obj.msg.user_id + '"><img src="' + obj.msg.avatar + '" class="card-circle marginright10" height="32" width="32">' + obj.msg.user_name +'</p>');
          }

          break;

        case 'command':
          $('#chat').prepend('- send: ' + obj.msg + '<br/>');
          break;

        case 'out':
          alert('expulsado');
          window.location.href = "<%= sails.getBaseUrl() %>";
          bootstrap_alert['danger']('Exit!', 5000);
          break;

        default:
          break;
      }
    });
  }



</script>
