
<form id="slider-form" class="form-signin" slider="slider/update" method="post" data-parsley-validate style="max-width: none">
  <div class="row">
    <h1 class="text-center login-title marginbottom20"><%= i18n('sliders') %></h1>
    <div class="col-md-6">
      <div class="col-md-2"></div>
      <div class="col-md-10">

        <div class="control-group marginbottom5">
          <label for="name"><%= i18n("name") %> * :</label>
          <input id="name_field" type="text" class="form-control" placeholder="<%= i18n("name") %>" value="<%= slider.name %>" name="name">
        </div>

        <div class="control-group marginbottom5">
          <label for="name"><%= i18n("code") %> * :</label>
          <input id="code_field" type="text" class="form-control" placeholder="<%= i18n("code") %>" value="<%= slider.code %>" required="" name="code">
        </div>

        <div class="control-group marginbottom5">
          <label for="type"><%= i18n("type") %> *:</label>
          <div class="chosen_container">
            <select data-placeholder="Choose a type..." class="chzn-select-type" tabindex="2" name="element">
              <option value="button">button</option>
              <option value="push">push-button</option>
              <option value="joystick">joystick</option>
            </select>
          </div>
          <script type="text/javascript">
            $('.chzn-select-type').chosen({width: '100%'});
          </script>
        </div>

        <div class="row">
          <div class="col-md-7">
            <div class="control-group">
              <label for="icon"><%= i18n("selectanicon") %> *:</label>
              <div>
                <select id="slect_icon" data-placeholder="<%= i18n("selectanicon") %>" class="chzn-select-icon" tabindex="2">
                  <option value=""></option>
                  <% _.each(icons, function(icon){ %>
                  <% if (slider.icon == icon.id ){ %>
                  <option data-img-src="/uploads/icons/<%= icon.id %>.<%= icon.format.split('/').pop()%>" value="<%= icon.id %>" selected>1</option>
                  <% } else { %>
                  <option data-img-src="/uploads/icons/<%= icon.id %>.<%= icon.format.split('/').pop()%>" value="<%= icon.id %>">1</option>
                  <% } %>
                  <% })%>
                </select>
              </div>
              <script type="text/javascript">
                $('.chzn-select-icon').chosen({ width: '100%', disable_search: true });
              </script>
            </div>
          </div>
          <div class="col-md-5">
            <div class="button_right" style="margin-top: 30px">
              <button type="button" class="btn btn-success" data-toggle="modal" data-target="#writeModal">
                Upload a new icon
              </button>
            </div>
          </div>
        </div>

        <div class="control-group marginbottom5">
          <label for="name"><%= i18n("color") %> * :</label>
          <p>
            Default: <input name="color_default" id="default" checked = "<%= slider.color_default %>" value="true" required="" type="radio" onchange="disable_colorform()">
            custom: <input name="color_default" id="custom" checked = "<%= !slider.color_default %>" value="false" type="radio" onchange="enable_colorform()">
          </p>
        </div>
        <script type="text/javascript">
          function enable_colorform(){
            $('#colorform').show();
          }
          function disable_colorform(){
            $('#colorform').hide();
          }
        </script>
      </div>
    </div>
    <div class="col-md-6">
      <div class="col-md-10">

        <div id="colorform" style="display:none">
          <div class="control-group">
            <label for="colortext"><%= i18n("text") %> * :</label>
            <div id="cp4" class="input-group colorpicker-component ">
              <input id="text_field" type="text" class="form-control" value="<%= slider.color_text%>"/>
              <span class="input-group-addon"><i></i></span>
            </div>
          </div>

          <div class="control-group">
            <label for="colorbackground"><%= i18n("background") %> * :</label>
            <div id="cp" class="input-group colorpicker-component ">
              <input id="background_field" type="text" class="form-control"  value="<%= slider.color_background%>" />
              <span class="input-group-addon"><i></i></span>
            </div>
          </div>

          <div class="control-group">
            <label for="colorbordert"><%= i18n("border") %> * :</label>
            <div id="cp2" class="input-group colorpicker-component ">
              <input id="border_field" type="text" class="form-control" value="<%= slider.color_border%>" />
              <span class="input-group-addon"><i></i></span>
            </div>
          </div>

          <div class="control-group">
            <label for="colorbordert"><%= i18n("activebackground") %> * :</label>
            <div id="cp3" class="input-group colorpicker-component ">
              <input id="active_background_field" type="text" class="form-control" value="<%= slider.color_active_background %>" />
              <span class="input-group-addon"><i></i></span>
            </div>
          </div>
          <script type="text/javascript">
            $('[id^=cp]').colorpicker({format: 'hex'});
          </script>
        </div>

      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
  <div class="form-signin">
    <input type="submit" value="<%= i18n('Proceed') %>" class="btn btn-lg btn-primary btn-block"/>
    <input type="hidden" name="_csrf" value="<%= _csrf%>"/>
  </div>
</form>

<script type="text/javascript">
  addLoadEvent(set_parsley_lang('<%= (typeof(req.session) !== 'undefined' && req.session.languagePreference) ? req.session.languagePreference : sails.config.i18n.defaultLocale  %>'));
  $('#slider-form').parsley().on('field:validated', function() {
    var ok = $('.parsley-error').length === 0;
  })
</script>
