<form id="slider-form" class="form-signin" slider="create" method="post" data-parsley-validate style="max-width: none">
  <div class="row">
    <h1 class="text-center login-title marginbottom20"><%= i18n('sliders') %></h1>
    <div class="col-md-6">
      <div class="col-md-2"></div>
      <div class="col-md-10">

        <div class="control-group marginbottom5">
          <label for="name"><%= i18n("name") %> * :</label>
          <input id="s_name_field" type="text" class="form-control" placeholder="<%= i18n("name") %>" name="name">
        </div>

        <div class="control-group marginbottom5">
          <label for="code"><%= i18n("code") %> * :</label>
          <input id="s_code_field" type="text" class="form-control" placeholder="<%= i18n("code") %>" required="" name="code">
        </div>

        <div class="form-group">
          <label for="min"><%= i18n("min") %>:</label>
          <input id="s_min_field" type="number" min="0" class="form-control" placeholder="<%= i18n("min") %>" name="min" data-parsley-maxlength="3">
        </div>

        <div class="form-group">
          <label for="max"><%= i18n("max") %>:</label>
          <input id="s_max_field" class="form-control" type="number" min="0" class="form-control" placeholder="<%= i18n("max") %>" name="max" data-parsley-maxlength="3">
        </div>

        <div class="form-group">
          <label for="value"><%= i18n("value") %>:</label>
          <input id="s_value_field" type="number" min="0" class="form-control" placeholder="<%= i18n("value") %>" name="value" data-parsley-maxlength="3">
        </div>

        <div class="form-group">
          <label for="step"><%= i18n("step") %>:</label>
          <input id="s_step_field" type="number" min="0" class="form-control" placeholder="<%= i18n("step") %>" name="step" data-parsley-maxlength="3">
        </div>

      </div>
    </div>
  </div>
  <input type="hidden" name="_csrf" value="<%= _csrf %>" />
</form>

<script type="text/javascript">
  addLoadEvent(set_parsley_lang('<%= (typeof(req.session) !== 'undefined' && req.session.languagePreference) ? req.session.languagePreference : sails.config.i18n.defaultLocale  %>'));

  function submit_function() {
    $('#slider-form').parsley().validate()
    var ok = $('.parsley-error').length === 0;

    if (true){
      $.ajax({
        url: '/slider/newslider/' + '<%= interface.id %>',
        type: 'GET',
        data: {name: $( "#s_name_field" ).val(), code: $( "#s_code_field" ).val(), min: $( "#s_min_field" ).val(), max: $( "#s_max_field" ).val(), value: $( "#s_value_field" ).val(), step: $( "#s_step_field" ).val() },
        done:function() {
        },


        success: function (data) {
          $("#errors_container").html('');
          $("#panel").html(data);
          $('.modal').modal('toggle');
          bootstrap_alert['success']('A new slider has been created!', 5000);
        },

        error: function (xhr) {
          $("#errors_container").html('<p class="bg-danger">' + xhr.responseText + '</p>');
          //bootstrap_alert['danger'](xhr.responseText, 5000);
        }
      });

    }
  }
</script>
