<div id="alert_placeholder"></div>

<% if (req.session.flash != 'undefined' && req.session.flash['error'].length > 0) { %>
<% req.session.flash['error'].forEach(function(message) { %>
<script type="text/javascript">
  bootstrap_alert['danger']('<%- message.err %>', 0 )
</script>
<% }); %>
<% } %>
<% if (req.session.flash != 'undefined' && req.session.flash['warning'].length > 0) { %>
<% req.session.flash['warning'].forEach(function(message) { %>
<script type="text/javascript">
  bootstrap_alert['warning']('<%- message.err %>', 0 )
</script>
<% }); %>
<% } %>
<% if (req.session.flash != 'undefined' && req.session.flash['success'].length > 0) { %>
<% req.session.flash['success'].forEach(function(message) { %>
<script type="text/javascript">
  bootstrap_alert['success']('<%-  message.err %>', 0 )
</script>
<% }); %>
<% } %>
<% if (req.session.flash != 'undefined' && req.session.flash['info'].length > 0) { %>
<% req.session.flash['info'].forEach(function(message) { %>
<script type="text/javascript">
  bootstrap_alert['info']('<%-  message.err %>', 0 )
</script>
<% }); %>
<% } %>

<% if (req.session.flash != 'undefined' && req.session.flash['server_exit'].length > 0) { %>
<% req.session.flash['server_exit'].forEach(function(message) { %>
  <% Object.keys(req.session.flash['server_exit']).forEach(function(error){ %>
  <script type="text/javascript">
    bootstrap_alert['danger']('<%- JSON.stringify(req.session.flash['server_exit'][error])%>', 0 )
</script>
  <% }) %>
<% }); %>
<% } %>
