<!DOCTYPE html>
<html lang="es">
<head>
  <title>RobotUI</title>

  <!-- Viewport mobile tag for sensible mobile support -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <!--
      Stylesheets and Preprocessors
      ==============================

      You can always bring in CSS files manually with `<link>` tags, or asynchronously
      using a solution like AMD (RequireJS).  Or, if you like, you can take advantage
      of Sails' conventional asset pipeline (boilerplate Gruntfile).

      By default, stylesheets from your `assets/styles` folder are included
      here automatically (between STYLES and STYLES END). Both CSS (.css) and LESS (.less)
      are supported. In production, your styles will be minified and concatenated into
      a single file.

      To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
      For example, here are a few things you could do:

          + Change the order of your CSS files
          + Import stylesheets from other directories
          + Use a different or additional preprocessor, like SASS, SCSS or Stylus
  -->


  <!--STYLES-->
  <link rel="stylesheet" href="/min/production.min.css">
  <!--STYLES END-->

  <!--SCRIPTS-->
  <script src="/min/production.min.js"></script>
  <!--SCRIPTS END-->
</head>

<body class="grad">
  <%- partial('_alert.ejs') %>
  <nav class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
      <div class="navbar-header">
        <button class="navbar-toggle collapsed" data-target="#bs-example-navbar-collapse-1" data-toggle="collapse" type="button" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" rel="home" href="/" title="Home page">
          <img src="/images/logo/logotipo_header.png" style="max-width:100px;">
        </a>
      </div>

      <div id="bs-example-navbar-collapse-1" class="navbar-collapse collapse" aria-expanded="false" style="height: 1px;">
      <ul class="nav navbar-nav">
        <% if (session.authenticated) { %>

        <% if (session.User.admin) { %>
        <li class="dropdown">
          <a class="dropdown-toggle" aria-expanded="false" aria-haspopup="true" role="button" data-toggle="dropdown" href="#"><%= i18n("admin") %><span class="caret"></span>
          </a>
          <ul class="dropdown-menu inverse-dropdown">
            <li>
              <a href="/user"><%= i18n("users_administration") %></a>
            </li>
            <li>
              <a href="/robot/admin_panel"><%= i18n("robots_administration") %></a>
            </li>
          </ul>
        </li>
        <% } %>


        <li class="nav-item" id="buttom_msg">
          <%if (typeof n_messages !== 'undefined' && n_messages > 0){%>
          <a href="/message/index"><%= i18n("messages") + '   '%><span id="msg_new" class="label label-pill label-danger">+<%= n_messages %></span></a>
          <% } else { %>
          <a href="/message/index"><%= i18n("messages") %><spam id="msg_new"></spam></a>
          <%}%>
        </li>

        <li class="dropdown">
          <a class="dropdown-toggle" aria-expanded="false" aria-haspopup="true" role="button" data-toggle="dropdown" href="#">
            <%= i18n("robots") %>
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu inverse-dropdown">
            <li>
              <a href="/robot/my_robots"><%= i18n("my_robots") %></a>
            </li>
            <li>
              <a href="/robot/index_driver_robots"><%= i18n("my_driver_robots") %></a>
            </li>
            <li>
              <a href="/robot/index_viewer_robots"><%= i18n("my_viewer_robots") %></a>
            </li>
            <li class="nav-dividernavbar-inverse" role="separator"></li>
            <li>
              <a href="/robot/index_public_robots"><%= i18n("public_robots") %></a>
            </li>
          </ul>
        </li>
        <% } %>
      </ul>

      <div class="form-inline pull-xs-right">
        <form class="navbar-form navbar-right">
          <div class="form-group">
            <select data-placeholder="Choose a language" class="chzn-select-lan" style="width:75px;" tabindex="2">
              <option data-img-src="/images/flags/EN.png" value="en">EN</option>
              <option data-img-src="/images/flags/ES.png" value="es">ES</option>
              <option data-img-src="/images/flags/FR.png" value="fr">FR</option>
              <option data-img-src="/images/flags/PT.png" value="pt">PT</option>
            </select>
            <script type="text/javascript">
              $('.chzn-select-lan option[value="<%= (typeof(req.session) !== 'undefined'  && req.session.languagePreference) ? req.session.languagePreference : sails.config.i18n.defaultLocale  %>"]').attr("selected",true);
              $('.chzn-select-lan').chosen({
                "disable_search": true
              });
            </script>
          </div>
        </form>
        <script type="text/javascript">
          $('.chzn-select-lan').on('change',function(){
            $.ajax({
              url: '/language/change',
              type: 'GET',
              data: {locale: $( ".chzn-select-lan" ).val()},
              contentType: 'application/json',
              dataType: 'json',

              done:function() {
              },

              success: function(data){
                window.location.reload();
              },

              error: function (data) {
                show_errors(data.responseText);
              }
            });

          });
        </script>

        <% if (session.authenticated) { %>
        <a class="btn btn-default navbar-btn navbar-right" href="/session/destroy"> <i class="fa fa-sign-out"></i> <span><%= __("signout") %></span></a>
        <a class="navbar-btn navbar-right" href="/user/show/<%= session.User.id%>">
          <img src="<%= sails.getBaseUrl() + session.User.avatarUrl %>" alt="Avatar" title="<%=session.User.name%>" class=" card-left card-circle card-margin-right" style="width:32px">
        </a>
        <% } %>
        <% if (!session.authenticated) { %>


        <div class="navbar-right marginleft10">
          <a href="/user/new" class="btn btn-success navbar-btn"> <%= i18n("signupnow") %></a>
        </div>

        <form id="login_form" class="navbar-right" action="/session/create">
          <div class="form-group">
            <input type="email" placeholder="<%= i18n("email") %>" name="email" data-parsley-trigger="change" required class="form-control">
          </div>
          <div class="form-group">
            <input type="password" placeholder="<%= i18n("password") %>" required  name="password" class="form-control" style="width: 150px">
          </div>
          <button type="submit" class="btn btn-success navbar-btn"><%= i18n("signin") %></button>
          <input type="hidden" name="_csrf" value="<%= _csrf %>">
        </form>


        <script type="text/javascript">
          addLoadEvent(set_parsley_lang('<%= (typeof(req.session) !== 'undefined' && req.session.languagePreference) ? req.session.languagePreference : sails.config.i18n.defaultLocale  %>'));
          $('#login_form').parsley().on('field:validated', function() {
            var ok = $('.parsley-error').length === 0;
          })
        </script>

        <% } %>
      </div>
      <script type="text/javascript">
        $('ul.nav > li > a[href="' + document.location.pathname + '"]').parent().addClass('active');
      </script>
    </div>
      </div>
  </nav>
  <div class="container box">
    <%- partial ('_modal.ejs')%>
    <%- body %>
  </div>

  <%- partial('footer.ejs') %>
</body>


<script type="text/javascript">

  $.when(savesocket()).done(function(){
    if (typeof subscribeAndListen == 'function') {
      subscribeAndListen();
    }
    listenMessages();
  });

  //Funcion para tener en to do momento almacenado en la tabla session los sockets conectados junto con el usuario al que pertenece
  function savesocket() {
    io.socket.get("/session/saveSocketID");
  }

  //Evento a la espera de recibir mensajes y notificar al usuario
  function listenMessages(){
    io.socket.on('user', function messageReceived(message) {
      switch (message.verb) {
        case 'messaged':
          var pathname = window.location.pathname;
          if(pathname == '/message/index'){
            location.reload();
          }else{
            new_msg_num_update('<%= i18n('messages') %>');
          }
          toastr.info('<%= i18n('new_message')%>' + '<a href="/message/index"> <%= i18n('open_here')%> </a>' , 'RobotUI');
          break;
        default:
          break;
      }
    });
  }

</script>

</html>


