<%- partial('../_alert.ejs', {flash: flash}) %>


<form action="/user/update/<%= user.id %>" method="post" class="form-signin">
  <h2>Hey, you're editing a user...</h2>
  <input value="<%= user.name %>" name="name" type="text" class="form-control"/>
  <input value="<%= user.title %>" name="title" type="text" class="form-control"/>
  <input value="<%= user.email %>" name="email" type="text" class="form-control"/>

<% if (session.authenticated && session.User.admin) { %>
  <% if (user.admin) { %>
  <div class="checkbox">
    <input type="hidden" name="admin" value="unchecked">
    <label><input type="checkbox" name="admin" checked> Admin </label>
  </div>
<% } else { %>
  <div class="checkbox">
    <input type="hidden" name="admin" value="unchecked">
    <label><input type="checkbox" name="admin"> Admin </label>
  </div>
  <% } %>
<% } %>

  <input type="submit" value="Proceed" class="btn btn-lg btn-primary btn-block"/>
  <input type="hidden" name="_csrf" value="<%= _csrf%>"/>

</form>


<label for="question"><%= i18n("filesmallerthan %s","42") %></label>
<form id="new_avatar" enctype="multipart/form-data" method="post">
  <div class="fileinput fileinput-new input-group" data-provides="fileinput">
    <div class="form-control" data-trigger="fileinput"><i class="glyphicon glyphicon-file fileinput-exists"></i> <span class="fileinput-filename"></span></div>
    <span id="input_icon" class="input-group-addon btn btn-default btn-file"><span class="fileinput-new">Select file</span><span class="fileinput-exists">Change</span><input type="file" name="avatar" data-parsley-filemaxmegabytes="42" data-parsley-trigger="change" data-parsley-filemimetypes="image/jpeg, image/png" required=""></span>
    <a id="remove_iconfile_input" href="#" class="input-group-addon btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
  </div>
  <input id="avatar_csrf" type="hidden" name="_csrf" value="<%= _csrf %>"/>
  <button type="button" class="btn btn-success" onclick='$("#new_avatar").submit()' >upload icon</button>
</form>

<script type="text/javascript">
  $('#new_avatar').parsley().on('field:validated', function() {
    var ok = $('.parsley-error').length === 0;
  })
</script>


<script type="text/javascript">
    $("#new_avatar").submit(function(e){
    e.preventDefault();
    var f = $(this);
    var formData = new FormData(document.getElementById("new_avatar"));

    $.ajax({
      url: '/user/edit_avatar/' + '<%= user.id %>',
      type: 'POST',
      cache: false,
      dataType: 'json',
      processData: false, // Don't process the files
      contentType: false, // Set content type to false as jQuery will tell the server its a query string request
      data: formData,
      beforeSend: function(xhr, settings){
        xhr.setRequestHeader('X-CSRF-Token', $("#avatar_csrf").val());
      },
      done:function() {
      },
      success: function(data){

        alert('success');

        if(typeof data.error === 'undefined')
        {
          console.log('SUCCESS: ' + data.success);
          bootstrap_alert['success']('A new icon has been uploaded!', 3000 );

          //limpiar el input
          $("#remove_iconfile_input").trigger('click');

          //Añadir el nuevo icono al chosen select
          //

        }
        else
        {
          // Handle errors here
          console.log('ERRORS: ' + data.error);
        }
      }
    });
  });
</script>

