<form id="sign-up-form" class="form-signin" action="/user/update/<%= user.id %>" method="post" enctype="multipart/form-data" data-parsley-validate style="max-width: none">
  <div class="row">
    <h1 class="text-center login-title marginbottom20"><%= i18n('editaccount') %></h1>

    <div class="col-md-6">
      <div class="col-md-2"></div>
      <div class="col-md-10">
        <div class="control-group">
          <label for="name"><%= i18n("name") %> * :</label>
          <input class="form-control" name="name" placeholder="<%= i18n("name") %>" value="<%= user.name %>" required="" type="text">
        </div>

        <div class="control-group">
          <label for="email"><%= i18n("email") %> * :</label>
          <input class="form-control" name="email" placeholder="<%= i18n("email") %>" value="<%= user.email %>" data-parsley-trigger="change" required="" type="email">
        </div>

        <div class="control-group">
          <label for="lan"><%= i18n("language") %> *:</label>
          <div>
            <select data-placeholder="<%= i18n("chooselanguage") %>" class="chzn-select-language" style="width:85px;" tabindex="2" required="" name="language">
              <option value=""></option>
              <option data-img-src="/images/flags/EN.png" value="en">EN</option>
              <option data-img-src="/images/flags/ES.png" value="es">ES</option>
              <option data-img-src="/images/flags/FR.png" value="fr">FR</option>
              <option data-img-src="/images/flags/PT.png" value="pt">PT</option>
            </select>
          </div>
          <script type="text/javascript">
            $('.chzn-select-language option[value="<%= user.language  %>"]').attr("selected",true);
            $('.chzn-select-language').chosen({"disable_search": true});
          </script>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="col-md-10">

        <div class="control-group">
          <label for="password"><%= i18n("password") %> * :</label>
          <input id="passsword_field" type="password" class="form-control" placeholder="<%= i18n("password") %>" value="********" name="password" required>
        </div>

        <div class="control-group">
          <label for="passwordconf"><%= i18n("passwordconfirmation") %> * :</label>
          <input type="password" class="form-control" data-parsley-equalto="#passsword_field" placeholder="<%= i18n("passwordconfirmation") %>" value="********" name="confirmation" required>
        </div>

        <% if (session.authenticated && session.User.admin) { %>
        <div class="checkbox">
          <% if (user.admin){ %>
            <label><input type="checkbox" name="admin" checked> Admin </label>
          <%}else{%>
            <label><input type="checkbox" name="admin"> Admin </label>
          <%}%>
        </div>
        <% } %>
        <%- partial ('_edit_avatar.ejs')%>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
  <div class="form-signin">
    <input class="btn btn-lg btn-primary btn-block" value="<%= __('editaccount') %>" type="submit">
  </div>
  <input type="hidden" name="_csrf" value="<%= _csrf %>" />

</form>

<script type="text/javascript">
  addLoadEvent(set_parsley_lang('<%= (typeof(req.session) !== 'undefined' && req.session.languagePreference) ? req.session.languagePreference : sails.config.i18n.defaultLocale  %>'));
  $('#sign-up-form').parsley().on('field:validated', function() {
    var ok = $('.parsley-error').length === 0;
  })
</script>



