<% if (messages && messages['error'].length > 0) { %>
<% messages['error'].forEach(function(message) { %>
<script type="text/javascript">
  bootstrap_alert['danger']('<%= message.err %>', 0 )
</script>
<% }); %>
<% } %>
<% if (messages && messages['warning'].length > 0) { %>
<% messages['warning'].forEach(function(message) { %>
<script type="text/javascript">
  bootstrap_alert['warning']('<%= message.err %>', 0 )
</script>
<% }); %>
<% } %>
<% if (messages && messages['success'].length > 0) { %>
<% messages['success'].forEach(function(message) { %>
<script type="text/javascript">
  bootstrap_alert['success']('<%= message.err %>', 0 )
</script>
<% }); %>
<% } %>

<form action="/user/update/<%= user.id %>" method="post" class="form-signin">
  <h2>Hey, you're editing a user...</h2>
  <input value="<%= user.name%>" name="name" type="text" class="form-control"/>
  <input value="<%= user.title%>" name="title" type="text" class="form-control"/>
  <input value="<%= user.email%>" name="email" type="text" class="form-control"/>

<% if (session.authenticated && session.User.admin) { %>
  <% if (user.admin) { %>

  <div class="checkbox">
    <input type="hidden" name="admin" value="unchecked">
    <label><input type="checkbox" name="admin" checked> Admin </label>
  </div>
<% } else { %>
  <div class="checkbox">
    <input type="hidden" name="admin" value="unchecked">
    <label><input type="checkbox" name="admin"> Admin </label>
  </div>
  <% } %>
<% } %>

  <input type="submit" value="Proceed" class="btn btn-lg btn-primary btn-block"/>
  <input type="hidden" name="_csrf" value="<%= _csrf%>"/>

</form>
