<%- partial('../_alert.ejs', {flash: flash}) %>

<div class="container">

  <h3>Users</h3>
  <div class="table-responsive">
  <table class="table">
    <thead>
    <tr>
      <th>Online</th>
      <th>ID</th>
      <th>Name</th>
      <th>Title</th>
      <th>Email</th>
      <th>Admin</th>
      <th>Actions</th>
    </tr>
    </thead>

    <tbody id="user_list">
    <% _.each(users, function(user){ %>
    <tr id="line_<%= user.id %>" data-model="user">

      <% if(user.online){ %>
      <td> <img id="img_state_<%=user.id%>" src="/images/online.png" height="30" width="30"></td>
      <% } else { %>
      <td> <img id="img_state_<%=user.id%>" src="/images/offline.png" height="30" width="30"></td>
      <% } %>

      <td><%= user.id %></td>
      <td><%= user.name %></td>
      <td><%= user.title %></td>
      <td><%= user.email %></td>

      <% if(user.admin){ %>
      <td> <img src="/images/admin.png"></td>
      <% } else { %>
      <td> <img src="/images/pawn.png" height="42" width="42"></td>
      <% } %>

      <td><a href="/user/show/<%= user.id %>" class="btn btn-sm btn-primary"><%= i18n('show') %></a></td>
      <td><a href="/user/edit/<%= user.id %>" class="btn btn-sm btn-warning"><%= i18n('edit') %></a></td>

      <td>
        <form action="/user/destroy/<%=user.id%>" method="post">
          <input type="hidden" name="_method" value="delete"/>
          <input type="submit"  class="btn btn-sm btn-danger" value="Delete"/>
          <input type="hidden" name="_csrf" value="<%= _csrf %>"/>
        </form>
      </td>
      <td> <a href="robot/new/<%= user.id %>" class="btn btn-sm btn-success">Add a robot!</a></td>
    </tr>
    <% })%>
    </tbody>
  </table>
    </div>
</div>

<div id="user_list"></div>

<script type="text/javascript">

  function subscribeAndListen() {
    io.socket.get('/user/user_subscribe');

    io.socket.on('user', function (obj) {
      if (obj.verb == 'created') {
        var user = obj.data;
        $.ajax({
          url: '/user/render',
          type: 'GET',
          data: {id: user.id},
          success: function(data){
            $("#user_list").append(data);
            bootstrap_alert['success']('A new user has been created!', 5000 )
          }
        });
      }

      if (obj.verb == 'updated') {
        var data = obj.data;
        change_img_state(data.id, data.loggedIn);

        if(data.loggedIn){
          bootstrap_alert['success']('User connected!', 5000 );
        }else{
          bootstrap_alert['success']('User disconnected!', 5000 );
        }
        console.log('User has been updated to online:' + data.loggedIn);
      }

      if (obj.verb == 'destroyed') {
        $("#line_" + obj.id).remove();
        bootstrap_alert['success']('An user has been deleted!', 5000 );
      }

    });

  }


</script>


