<% if (messages && messages['error'].length > 0) { %>
<% messages['error'].forEach(function(message) { %>
<script type="text/javascript">
  bootstrap_alert['danger']('<%= message.err %>', 0 )
</script>
<% }); %>
<% } %>
<% if (messages && messages['warning'].length > 0) { %>
<% messages['warning'].forEach(function(message) { %>
<script type="text/javascript">
  bootstrap_alert['warning']('<%= message.err %>', 0 )
</script>
<% }); %>
<% } %>
<% if (messages && messages['success'].length > 0) { %>
<% messages['success'].forEach(function(message) { %>
<script type="text/javascript">
  bootstrap_alert['success']('<%= message.err %>', 0 )
</script>
<% }); %>
<% } %>


<form action="/user/create" method="POST" id="sign-up-form" class="form-signin">
        <h1 class="text-center login-title"><%= i18n('Create_an_account') %></h1>

          <div class="control-group">
            <input type="text" class="form-control" placeholder="your name" name="name" required>
          </div>

          <div class="control-group">
            <input type="text" class="form-control" placeholder="your title" name="title">
          </div>

          <div class="control-group">
            <input type="text" class="form-control" placeholder="email address" name="email" required>
          </div>

          <div class="control-group">
            <input type="password" class="form-control" placeholder="password" name="password" required>
          </div>

          <div class="control-group">
            <input type="password" class="form-control" placeholder="password confirmation" name="confirmation" required>
          </div>

          <div class="control-group">
            <select data-placeholder="Choose a Language..." class="chzn-select-language" style="width:150px;" tabindex="2" name="language">
              <option value=""></option>
              <option data-img-src="/images/flags/EN.png" value="en">EN</option>
              <option data-img-src="/images/flags/ES.png" value="es">ES</option>
              <option data-img-src="/images/flags/FR.png" value="fr">FR</option>
              <option data-img-src="/images/flags/PT.png" value="pt">PT</option>
            </select>
          </div>

          <script type="text/javascript">
            $('.chzn-select-language').chosen({"disable_search": true});
          </script>

          <div class="control-group">
            <input type="file" name="avatar" />
          </div>

          <br>
          <button class="btn btn-lg btn-primary btn-block" type="submit">Create Account</button>

          <input type="hidden" name="_csrf" value="<%= _csrf %>" />
      </form>



 <form id="uploadForm"
            enctype="multipart/form-data"
            action="/user/upload"
            method="post">
   <input type="file" class="filestyle" name="uploadFile" data-buttonName="btn-primary">

   <input type="hidden" name="_csrf" value="<%= _csrf %>" />
        <input type="submit" value="submit"/>
      </form>


      <img src="/uploads/profile_image/55d751b5b38a88e511352f33.png">



