<div class="container paddingtop20">
  <h1 class="text-center login-title marginbottom20"><%= i18n('user_information') %></h1>


  <div class="card" style="min-width:300px; width: 30%; margin: auto">
    <div class="card-header">
      <% if(user.admin){ %>
      <img src="/images/admin.png" height="32" width="32" class="img-responsive"> <%= i18n('administrator')%>
      <% } else { %>
      <img src="/images/pawn.png"  height="32" width="32" class="img-responsive"> <%= i18n('user')%>
      <% } %>
      <% if(user.online || user.id == req.session.User.id){ %>
      <img src="/images/online.png" height="32" width="32" class="img-responsive"> <%= i18n('online')%>
      <% } else { %>
      <img src="/images/offline.png"  height="32" width="32" class="img-responsive"> <%= i18n('offline')%>
      <% } %>
      <img src="<%= sails.getBaseUrl() + user.avatarUrl %>" alt="Avatar" class="card-circle card-margin-right img-responsive floatright" style="width:75px">
    </div>

    <div class="card-body paddingtop10">
      <p class="card-container">
      <p><label><%= i18n('name') +  ':   '%></label><span class="marginleft5"><%= user.name %></span></p>
      <p><label><%= i18n('email') +  ':   '%></label><span class="marginleft5"><%= user.email%></span></p>
      <p><label><%= i18n('language') + ':   '%></label><span class="marginleft5"><img class="chose-image-small" src="/images/flags/<%= user.language.toUpperCase()%>.png"></span></p>
    </div>


    <div class="card-footer">
      <div class="center">
        <a class="btn btn-medium btn-primary" href="/user/edit/<%= user.id%>"><%= i18n('edit')%></a>
        <a class="btn btn-medium btn-primary btn-success" href="/robot/index/<%= user.id %>"><%= i18n('robots')%></a>
      </div>
    </div>
  </div>
</div>


