<%- partial('../_alert.ejs', {flash: flash}) %>

<div class="container">
  <h2 class="form-sigin-heading">User information</h2>

  <div class="card" style="min-width:300px; width: 30%; margin: auto">
      <header class="card-container card-light-grey">
        <h3><%= user.name %></h3>
      </header>

    <div class="card-container paddingtop10">
      <% if(user.admin){ %>
      <img src="/images/admin.png" height="32" width="32" class="img-responsive"> admin
      <% } else { %>
      <img src="/images/pawn.png"  height="32" width="32" class="img-responsive"> pawn
      <% } %>
      <% if(user.online || user.id == req.session.User.id){ %>
        <img src="/images/online.png" height="32" width="32" class="img-responsive"> online
      <% } else { %>
        <img src="/images/offline.png"  height="32" width="32" class="img-responsive"> offline
      <% } %>
    </div>
    <hr>

      <div class="card-container">
        <img src="<%= sails.getBaseUrl() + user.avatarUrl %>" alt="Avatar" class="card-left card-circle card-margin-right img-responsive" style="width:75px">
        <p>Email: <%= user.email%></p>
        <p>Language: <img class="chose-image-small" src="/images/flags/<%= user.language.toUpperCase()%>.png"></p>

        <br>
    <div class="clear"></div>
      </div>

      <div class="card-dark-grey margintop10 card-btn-block">
        <a class="btn btn-medium btn-primary" href="/user/edit/<%= user.id%>">Edit</a>
        <a class="btn btn-medium btn-primary btn-success" href="/robot/index/<%= user.id %>">Show robots</a>
      </div>
    </div>
  </div>
