 <div class="jumbotron">
    <img src="/images/logo/logotipo.png" class="img-responsive center-block" alt="RobotUI.com">
    <div class="margintop20">
      <h2><%= i18n('robotui') %></h2>
    </div>
  </div>

<div class="column colspan-1 text-center">
  <img src="/images/index/game.png" alt="play with robots" class="img-responsive card-circle block center" style="height:100px">
  <h4 class="index_h"><%= i18n('play_with_robots') %></h4>
  <p class="index_p"><%= i18n('robot_games')%></p>
</div>


<div class="column colspan-1 text-center">
  <img src="/images/index/turn_on.png" alt="play now" class="img-responsive card-circle block center" style="height:100px">
  <h4 class="index_h"><%= i18n('get_started') %></h4>
  <p class="index_p"><%= i18n('join_us') %></p>
</div>

<div class="column colspan-1 text-center">
  <img src="/images/index/work.png" alt="tutorial" class="img-responsive card-circle block center" style="height:100px">
  <h4 class="index_h"><%= i18n('how_to_do_it') %></h4>
  <p class="index_p"><%= i18n('check_our_tutorial') %></p>
</div>

<div class="clear"></div>

 <div class="jumbotron">
   <div class="form-signin">
     <% if (!req.session.User) {%>
     <a href="/user/new" class="btn btn-lg btn-block btn-success"> <%= i18n("signupnow") %></a>
     <% } else { %>
     <a href="/robot/index_public_robots" class="btn btn-lg btn-block btn-success"> <%= i18n("robots") %></a>
     <% } %>
   </div>
 </div>


 <script type="text/javascript">
   function subscribeAndListen() {
     io.socket.get('/message/message_subscribe');
   }
 </script>
