<div class="jumbox">
<div class="wrapper wrapper-content">
  <div class="row">
    <div class="col-lg-3">
      <div class="ibox float-e-margins">
        <div class="ibox-content mailbox-content">
          <div class="file-manager">
            <div class="space-25"></div>
            <h5>Folders</h5>
            <ul class="folder-list m-b-md" style="padding: 0">
              <li><a href=""> <i class="fa fa-inbox "></i> Inbox <span class="label label-warning pull-right">16</span> </a></li>
              <li><a href=""> <i class="fa fa-envelope-o"></i> Send Mail</a></li>
              <li><a href=""> <i class="fa fa-certificate"></i> Important</a></li>
              <li><a href=""> <i class="fa fa-file-text-o"></i> Drafts <span class="label label-danger pull-right">2</span></a></li>
              <li><a href=""> <i class="fa fa-trash-o"></i> Trash</a></li>
            </ul>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-9 animated fadeInRight">
      <div class="mail-box-header">
        <div class="pull-right tooltip-demo">
          <a href="" class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title="Move to draft folder"><i class="fa fa-pencil"></i> Draft</a>
          <a href="" class="btn btn-danger btn-sm" data-toggle="tooltip" data-placement="top" title="Discard email"><i class="fa fa-times"></i> Discard</a>
        </div>
        <h2>
          Messages
        </h2>
      </div>
      <form id="msg-form" class="form-horizontal" action="send" method="post" data-parsley-validate>
      <div class="mail-box">
        <div class="mail-body">
            <input type="hidden" name="_csrf" value="<%= _csrf %>">

            <div class="form-group">
              <label class="col-sm-2 control-label">To:</label>
              <div class="col-sm-10">
                <select data-placeholder="Choose users..." class="chosen-select-users" tabindex="2" name="to_user_id">
                  <option value=""></option>
                  <% users.forEach(function(user)  { %>
                  <option data-img-src="<%= sails.getBaseUrl() + user.avatarUrl %>" value="<%= user.id %>"><%= user.name %></option>
                  <% }); %>
                </select>
                <script type="text/javascript">
                  $('.chosen-select-users').chosen( { width: '100%', height:'20px' } );
                </script>
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-2 control-label">Subject:</label>
              <div class="col-sm-10"><input type="text" class="form-control" name="title" value=""></div>
            </div>
        </div>

        <div class="form-group">
          <label for="message">Message (20 chars min, 100 max)* :</label>
          <textarea id="message" class="form-control" name="message" data-parsley-trigger="keyup" data-parsley-minlength="20" data-parsley-maxlength="100" data-parsley-minlength-message="Come on! You need to enter at least a 20 character comment.." data-parsley-validation-threshold="10"></textarea>
        </div>


        <div class="mail-text h-200">
          <div class="summernote">
            <h3>Hello Jonathan! </h3>
            dummy text of the printing and typesetting industry. <strong>Lorem Ipsum has been the industry's</strong> standard dummy text ever since the 1500s,
            when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic
            typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with
            <br/>
            <br/>
          </div>
        </div>
        <div class="mail-body text-right tooltip-demo">
          <a href='#' onclick="document.getElementById('msg-form').submit()" class="btn btn-sm btn-primary" type="submit"  data-toggle="tooltip" data-placement="top"> <i class="fa fa-reply"></i> <span><%= i18n('send') %></span></a>
          <a href="" class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title="Discard email"><i class="fa fa-times"></i> Discard</a>
          <a href="" class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title="Move to draft folder"><i class="fa fa-pencil"></i> Draft</a>
        </div>
      </div>
      </form>
    </div>
  </div>
</div>
</div>


<script type="text/javascript">
  $(function() {
    $('.summernote').summernote({
      height: 300,                 // set editor height
      minHeight: null,             // set minimum height of editor
      maxHeight: null,             // set maximum height of editor
      focus: true                  // set focus to editable area after initializing summernote
    });
  });

  function msg_as_read(id) {

    $.ajax({
      url: '/message/markasread/' + id,
      type: 'GET',
      data: {},
      success: function () {
        var env_id = '#env_' + id;
        $(env_id).html('<i class="fa fa-eye fa-2x" aria-hidden="true"></i>');
        var read_btn = '#mark_read_btn_' + id;
        $(read_btn).remove();


        // Update num msg
        var num_msg = document.getElementById('msg_new').innerHTML.replace('+','');
        num_msg--;
        $('#buttom_msg').html('<a href="/message/index">Messages <span id="msg_new" class="label label-pill label-danger">' + '+' + num_msg + '</span></a>');
       toastr.info('', 5000 );

      },

      error: function (xhr, status, text) {
        bootstrap_alert['danger'](xhr.responseText, 5000 );
      }
    });
  }

  function destroy_msg(id) {
    $.ajax({
      url: '/message/destroy/',
      type: 'GET',
      data: {id: id},

      success: function (data) {
        $("#line_msg_" + id).remove();
       toastr.info('The message has been deleted!', 'Message' );
      },

      error: function (xhr, status, text) {
        bootstrap_alert['danger'](xhr.responseText, 5000 );
      }
    });
  }



  function new_message(action, title){
    $.ajax({
      url: action,
      type: 'GET',
      data: {id: '<%= session.User.id %>'},
      success: function(data){
        $("#errors_container").html('');
        $('#myModalLabel').html(title)
        $("#container").html(data);
      }
    });
  }

  function subscribeAndListen() {
    io.socket.get('/message/message_subscribe');
  }

</script>
















<div class="jumbox">
    <% if (flash != 'undefined' && flash['server_exit'].length > 0) { %>
    <div class="bs-callout bs-callout-warning">
      <h4>Ups!</h4>
      <ul>
        <% Object.keys(flash['server_exit']).forEach(function(error) { %>
        <li><%- JSON.stringify(flash['server_exit'][error], null, "  ") %></li>
        <% }); %>
      </ul>
    </div>
   <% } %>

  <h3>Inbox</h3>
  <table class="table">
    <tr>
      <th>Read</th>
      <th>From</th>
      <th>Message</th>
      <th>Fecha</th>
      <th>Actions</th>

    </tr>

    <% _.each(user_messages, function(message){ %>
    <tr id="line_msg_<%= message.id %>" data-model="message">
      <td id="env_<%= message.id %>">
        <% if(message.read){ %>
        <i class="fa fa-eye fa-2x" aria-hidden="true"></i>
        <% } else { %>
        <i class="fa fa-eye-slash fa-2x" aria-hidden="true"></i>
        <% } %>
      </td>
      <td><%= message.from_user_id  %></td>

      <td><%=message.content.substring(0,20) %></td>
      <td><%=message.createdAt %></td>
      <td>
        <a class="btn btn-sm btn-success" onclick="reply_msg('<%= message.id %>')"><i class="fa fa-reply"></i> Reply </a>
        <a class="btn btn-sm btn-info" onclick=" window.location.href='<%='/message/show/' + message.id %>'">Read</a>
        <% if(!message.read){ %>
        <a id="mark_read_btn_<%= message.id %>" class="btn btn-sm btn-warning" onclick="msg_as_read('<%= message.id %>')">Mark as read</a>
        <% } %>
        <a class="btn btn-sm btn-danger" onclick="destroy_msg('<%= message.id %>')"><i class="fa fa-trash-o fa-lg"></i> Delete </a>
      </td>
    </tr>
    <% })%>
  </table>
  <hr>

  <!-- Button trigger modal -->
  <div class="button_right">
    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#writeModal" onclick="new_message('/message/create', '<%= i18n('message') %>')">
      Redactar
    </button>
  </div>

  <div class="clear"></div>
</div>



<script type="text/javascript">
  function msg_as_read(id) {

    $.ajax({
      url: '/message/markasread/' + id,
      type: 'GET',
      data: {},
      success: function () {
        var env_id = '#env_' + id;
        $(env_id).html('<i class="fa fa-eye fa-2x" aria-hidden="true"></i>');
        var read_btn = '#mark_read_btn_' + id;
        $(read_btn).remove();


        // Update num msg
        var num_msg = document.getElementById('msg_new').innerHTML.replace('+','');
        num_msg--;
        $('#buttom_msg').html('<a href="/message/index">Messages <span id="msg_new" class="label label-pill label-danger">' + '+' + num_msg + '</span></a>');
      },

      error: function (xhr, status, text) {
        bootstrap_alert['danger'](xhr.responseText, 5000 );
      }
    });
  }

  function destroy_msg(id) {
    $.ajax({
      url: '/message/destroy/',
      type: 'GET',
      data: {id: id},

      success: function (data) {
        $("#line_msg_" + id).remove();
       toastr.info('The message has been deleted!', 'Message' );
      },

      error: function (xhr, status, text) {
        bootstrap_alert['danger'](xhr.responseText, 5000 );
      }
    });
  }



  function new_message(action, title){
    $.ajax({
      url: action,
      type: 'GET',
      data: {id: '<%= session.User.id %>'},
      success: function(data){
        $("#errors_container").html('');
        $('#myModalLabel').html(title)
        $("#container").html(data);
      }
    });
  }



</script>
