<%- partial('../_alert.ejs', {flash: flash}) %>

<div class="jumbox">
    <% if (flash != 'undefined' && flash['server_exit'].length > 0) { %>
    <div class="bs-callout bs-callout-warning">
      <h4>Ups!</h4>
      <ul>
        <% Object.keys(flash['server_exit']).forEach(function(error) { %>
        <li><%- JSON.stringify(flash['server_exit'][error], null, "  ") %></li>
        <% }); %>
      </ul>
    </div>
   <% } %>

  <!-- Button trigger modal -->
 <div class="floatright margintop20">
   <button type="button" class="btn btn-success" data-toggle="modal" data-target="#writeModal">
     Redactar
   </button>
 </div>

  <div class="clear"></div>

  <h3>Inbox</h3>
  <table class="table">
    <tr>
      <th>Read</th>
      <th>From</th>
      <th>Message</th>
      <th>Fecha</th>
      <th>Actions</th>

    </tr>

    <% _.each(user_messages, function(message){ %>
    <tr id="line_msg_<%= message.id %>" data-model="message">
      <td id="env_<%= message.id %>">
        <% if(message.read){ %>
        <i class="fa fa-eye fa-2x" aria-hidden="true"></i>
        <% } else { %>
        <i class="fa fa-eye-slash fa-2x" aria-hidden="true"></i>
        <% } %>
      </td>
      <td><% message.from_user_id  %></td>

      <td><%=message.content.substring(0,20) %></td>
      <td><%=message.createdAt %></td>
      <td>
        <a class="btn btn-sm btn-success" onclick="reply_msg('<%= message.id %>')"><i class="fa fa-reply"></i> Reply </a>
        <a class="btn btn-sm btn-info" onclick=" window.location.href='<%='/message/show/' + message.id %>'">Read</a>
        <% if(!message.read){ %>
        <a id="mark_read_btn_<%= message.id %>" class="btn btn-sm btn-warning" onclick="msg_as_read('<%= message.id %>')">Mark as read</a>
        <% } %>
        <a class="btn btn-sm btn-danger" onclick="destroy_msg('<%= message.id %>')"><i class="fa fa-trash-o fa-lg"></i> Delete </a>
      </td>
    </tr>
    <% })%>
  </table>
  <hr>

  <!-- Button trigger modal -->
  <div class="button_right">
    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#writeModal">
      Redactar
    </button>
  </div>

  <div class="clear"></div>
</div>

<script type="text/javascript">
  function msg_as_read(id) {

    $.ajax({
      url: '/message/markasread/' + id,
      type: 'GET',
      data: {},
      success: function () {
        var env_id = '#env_' + id;
        $(env_id).html('<i class="fa fa-eye fa-2x" aria-hidden="true"></i>');
        var read_btn = '#mark_read_btn_' + id;
        $(read_btn).remove();


        // Update num msg
        var num_msg = document.getElementById('msg_new').innerHTML.replace('+','');
        num_msg--;
        $('#buttom_msg').html('<a href="/message/index">Messages <span id="msg_new" class="label label-pill label-danger">' + '+' + num_msg + '</span></a>');
        bootstrap_alert['success']('', 5000 );

      },

      error: function (xhr, status, text) {
        bootstrap_alert['danger'](xhr.responseText, 5000 );
      }
    });
  }

  function destroy_msg(id) {
    $.ajax({
      url: '/message/destroy/',
      type: 'GET',
      data: {id: id},

      success: function (data) {
        $("#line_msg_" + id).remove();
        bootstrap_alert['success']('The message has been deleted!', 5000 );
      },

      error: function (xhr, status, text) {
        bootstrap_alert['danger'](xhr.responseText, 5000 );
      }
    });
  }

</script>


<!-- Modal -->
<div class="modal fade" id="writeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Mensaje nuevo</h4>
      </div>
      <div class="modal-body">
          <%- partial('new.ejs') %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-success" onclick='$("#form_newmsg").submit()' >Send</button>
      </div>
    </div>
  </div>
</div>
