<div class="jumbox">
  <h2> <%= i18n("messages") %></h2>

  <%- partial('_table.ejs')%>

  <div class="button_right">
    <button type="button" class="btn btn-lg btn-success" data-toggle="modal" data-target="#writeModal" onclick="new_message('/message/create', '<%= i18n('message') %>')">
      <%= i18n('write') %>
    </button>
  </div>
</div>


<script type="text/javascript">

  function msg_as_read(id) {
    $.ajax({
      url: '/message/markasread/' + id,
      type: 'GET',
      data: {},
      success: function () {
        change_eye_icon(id);
        update_num_msg('<%= i18n('messages') %>');
      },

      error: function (data) {
        show_errors(data.responseText);
      }
    });
  }

  function destroy_msg(id) {
    $.ajax({
      url: '/message/destroy/',
      type: 'GET',
      data: {id: id},

      success: function (data) {
        $("#line_msg_" + id).remove();
       toastr.info('The message has been deleted!', 'Message' );
      },

      error: function (data) {
        show_errors(data.responseText);
      }
    });
  }

  function new_message(action, title){
    $.ajax({
      url: action,
      type: 'GET',
      success: function(data){
        openModal(title, data);
      }
    });
  }

  function open_message(action, title){
    $.ajax({
      url: action,
      type: 'GET',
      success: function(data){
        openModal(title, data);
      }
    });
  }

  function subscribeAndListen() {
    io.socket.get('/message/message_subscribe');
  }

</script>
