<form id="msg-form" enctype="multipart/form-data" method="post">

  <div class="form-group margintop20">
    <label class="control-label"><%= i18n("subject") + ': ' %></label>
    <input id="title" type="text" class="form-control" name="title" value="" required="">
  </div>

  <div class="form-group margintop20">
        <label class="control-label"><%= i18n("user") + ': ' %> </label>
          <select id="to_user_id" data-placeholder="<%= i18n('chose_users')%>" class="chosen-select-users" tabindex="2" name="to_user_id" required="">
            <option value=""></option>
            <% users.forEach(function(user)  { %>
            <option data-img-src="<%= sails.getBaseUrl() + user.avatarUrl %>" value="<%= user.id %>"><%= user.name %></option>
            <% }); %>
          </select>
          <script type="text/javascript">
            $('.chosen-select-users').chosen( { width: '100%', height:'20px' } );
          </script>
      </div>
    </div>

    <div class="form-group margintop20">
      <label for="message">Message (20 chars min, 100 max)* :</label>
      <textarea id="message" class="summernote" name="content" required="" ></textarea>
    </div>

    <div class="mail-body text-right tooltip-demo">
    </div>

  <input id="_csrf" type="hidden" name="_csrf" value="<%= _csrf %>"/>
</form>



<script type="text/javascript">
  addLoadEvent(set_parsley_lang('<%= (typeof(req.session) !== 'undefined' && req.session.languagePreference) ? req.session.languagePreference : sails.config.i18n.defaultLocale  %>'));


  $('#msg-form').parsley().subscribe('parsley:form:validate', function (formInstance) {
    if ( ! $("#to_user_id").parsley().isValid() ){
       $( ".chosen-single" ).addClass('parsley-error');
    }else{
      $( ".chosen-single" ).removeClass('parsley-error');
    }
  });

  $(document).ready(function() {
    $('#msg-form').parsley({
      classHandler: function (el) {
        return el.$element.closest('.chosen-single'); //working
      }
    });
  });



  function submit_function() {
    $('#msg-form').parsley().validate()
    var ok = $('.parsley-error').length === 0;

    if (ok){
      $.ajax({
        url: '/message/send/',
        type: 'GET',
        data: {
          content: $('#message').val(),
          to_user_id: $('#to_user_id').val(),
          title: $('#title').val()
        },
        beforeSend: function(xhr, settings){
          xhr.setRequestHeader('X-CSRF-Token', $("#_csrf").val());
        },

        success: function (data) {
          closeModal();
          toastr.info('<%= i18n('message_send') %>', 'RobotUI');
        },

        error: function (data) {
          show_errors(data.responseText);
        }
      });

    }
  }

</script>
