<div class="jumbox">
  <form id="form_newmsg" method="POST" action="/message/send">

    <div class="control-group">
      <label for="name">Title * :</label>
      <input class="form-control" name="title" placeholder="your title"  type="text" required="">
    </div>

    <div class="form-group">
      <label for="share">Robots to share* :</label> <select tabindex="-1" multiple="" data-placeholder="Choose robots to share" class="chosen-select-robots" style="width:360px;" tabindex="2" name="owners">
        <option value=""></option>
        <% robots.forEach(function(robot)  { %>
        <option data-img-src="" value="<%= robot._id %>"><%= robot.name %></option>
        <% }); %>
      </select>
    </div>
    <script type="text/javascript">
      $('.chosen-select-robots').chosen({ width: '100%', height:'20px' });
    </script>


    <div class="form-group">
      <label for="share">Share my robot with* :</label> <select tabindex="-1" multiple="" data-placeholder="Choose users..." class="chosen-select-users" style="width:360px;" tabindex="2" name="to_user_id">
        <option value=""></option>
        <% users.forEach(function(user)  { %>
        <option data-img-src="" value="<%= user.id %>"><%= user.name %></option>
        <% }); %>
      </select>
    </div>
    <script type="text/javascript">
      $('.chosen-select-users').chosen({ width: '100%', height:'20px' });
    </script>


    <div class="form-group">
      <label for="message">Message (20 chars min, 100 max)* :</label>
      <textarea id="message" class="form-control" name="message" data-parsley-trigger="keyup" data-parsley-minlength="20" data-parsley-maxlength="100" data-parsley-minlength-message="Come on! You need to enter at least a 20 character comment.." data-parsley-validation-threshold="10"></textarea>
    </div>

    <!--
        <div class="form-group">
          <label for="human" class="col-sm-1 control-label">2 + 3 = ?</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="human" name="human" placeholder="Your Answer">
          </div>
        </div>
        <div class="form-group">
          <div class="button_right">
            <input id="submit_msg" name="submit" type="submit" value="Send" class="btn btn-primary">
          </div>
        </div>
    -->

    <input type="hidden" name="_csrf" value="<%= _csrf %>">
  </form>
</div>


<div class="clear"></div>


