<div class="row">
  <div class="col-lg-10 col-lg-offset-1">
    <div class="panel panel-success" style="min-height: 200px">
      <div class="panel-heading">
        <img src="<%= sails.getBaseUrl() + message.from_user_id.avatarUrl %>" alt="Avatar" title="<%= message.from_user_id.name %>" class="card-left card-circle card-margin-right img-responsive" style="width:32px">
        <a href="/user/show/<%= message.from_user_id.id %>"><%= message.from_user_id.name %></a>
        <%= message.title %>
      </div>
      <%- message.content %>
    </div>
  </div>
</div>
