<tr id="line_<%= video.id %>" data-model="event">
  <th scope="row"></th>
  <td><%= video.name %></td>
  <td>
    <input id="video_<%= video.id %>" class="disabled" type="text">
  </td>
  <td> <button id="delete_video_<%= video.id %>" type="button" class="btn btn-sm btn-danger" onclick="row_video_deleted('<%= video.id %>')">Delete</button></td>
</tr>
