<form id="video-form" class="form-signin" method="post" data-parsley-validate style="max-width: none">
  <div class="row">
    <div class="col-md-12">
      <div class="control-group marginbottom5">
        <label for="vname"><%= i18n("name") %> * :</label>
        <input id="v_name_field" type="text" class="form-control" value="<%= video.name %>" required placeholder="<%= i18n("name") %>" name="name">
      </div>

      <div class="control-group marginbottom5">
        <label for="vevent"><%= i18n("eventname") %> * :</label>
        <input id="v_event_field" type="text" class="form-control" value="<%= video.event_name %>" required placeholder="<%= i18n("eventname") %>" name="event_name">
      </div>
    </div>
  </div>
  </div>

  <input type="hidden" name="_csrf" value="<%= _csrf %>" />
</form>

<script type="text/javascript">
  addLoadEvent(set_parsley_lang('<%= (typeof(req.session) !== 'undefined' && req.session.languagePreference) ? req.session.languagePreference : sails.config.i18n.defaultLocale  %>'));

  function submit_function() {
    $('#video-form').parsley().validate()
    var ok = $('.parsley-error').length === 0;

    if (true){
      $.ajax({
        url: '/video/update/' + '<%= video.id %>',
        type: 'GET',
        data: {name: $( "#v_name_field" ).val(), event_name: $( "#v_event_field" ).val()},
        done:function() {
        },

        success: function (data) {
          $("#errors_container").html('');
          $('[id^=video_]').html(data);
          $('.modal').modal('toggle');
         toastr.info('A new video has been updated!', 'User');
        },

        error: function (xhr) {
          $("#errors_container").html('<p class="bg-danger">' + xhr.responseText + '</p>');
          //bootstrap_alert['danger'](xhr.responseText, 5000);
        }
      });

    }
  }
</script>
