<div class="col-lg-4 col-md-6 col-xs-12">
  <div class="card marginbottom20">
    <header class="card-container card-light-grey">
      <h3><%= robot.name %></h3>
    </header>

    <div class="card-container paddingtop10">
      <% if(robot.online){ %>
        <img id="img_state_<%=robot.id%>" src="/images/online.png" height="30" width="30">
      <% } else { %>
        <img id="img_state_<%=robot.id%>" src="/images/offline.png" height="30" width="30">
      <% } %>

      <span id="label_state_<%=robot.id%>" class="label label-pill <%= robot.busy ? 'label-danger' : 'label-success' %>"> <%= robot.busy ? i18n('busy') : i18n('free') %> </span>
      <img src="<%= sails.getBaseUrl() + robot.owner.avatarUrl %>" class="img-responsive card-circle marginleft5" height="32" width="32">
      <%= robot.owner.name %>
    </div>
    <hr>

    <div class="card-container">
      <div class="thumbnail" >
        <a href="#"><img id="img_card_<%= robot.id %>" src="<%= robot.avatarUrl %>"></a>
      </div>
      <p><%= i18n('ip_address') + ': ' + robot.ipaddress + ':' + robot.port %></p>
      <br>
      <div class="clear"></div>
    </div>

    <div class="card-dark-grey margintop10 card-btn-block">
      <a id="btn_tview_<%= robot.id%>" href="/interface/view/<%= robot.iface.id %>" class="btn btn-sm btn-primary <%= ( robot.online && robot.busy) ? '' : 'disabled' %>"><%= i18n('view') %></a>
      <a id="btn_tcontrol_<%= robot.id%>" href="/interface/show/<%= robot.iface.id %>" class="btn btn-sm btn-primary <%= ( robot.online && !robot.busy ) ? '' : 'disabled' %>" ><i class="fa fa-gamepad"></i> <%= i18n('take_control') %> </a>
      <a id="btn_tconfigure_<%= robot.id%>" href="/interface/configure/<%= robot.iface.id %>" class="btn btn-sm btn-primary <%= robot.online ? 'disabled' : '' %> "><i class="fa fa-wrench" aria-hidden="true"></i><%= i18n('configure') %></a>
    </div>
  </div>
</div>

<div class="webui-popover-content" id="description">
  <p><%= robot.description %></p>
</div>

<script type="text/javascript">
  $('#img_card_<%= robot.id %>').webuiPopover( {title: '<%= i18n('description') %>', url:'#description', closeable: true, width: 150, placement:'right-bottom', animation:'pop'} );

  function subscribeAndListen() {
    io.socket.get('/robot/robot_subscribe');

    io.socket.on('robot', function (obj) {
      if (obj.verb == 'updated') {
        var data = obj.data;
        change_img_state(data.id, data.online, '<%= i18n('connect') %>', '<%= i18n('disconnect') %>');
        change_img_busy(data.id, data.busy, '<%= i18n('free') %>', '<%= i18n('busy') %>');
        set_actions(data.id, data.busy, data.online);
      }
    });
  }
</script>
