<% Object.keys(perm).forEach(function (key) { %>
<tr id="perm_<%= key %>">

  <td><img src="<%= sails.getBaseUrl() + perm[key].avatarUrl %>" alt="Avatar" title="<%= perm[key].name %>" class="card-left card-circle card-margin-right img-responsive" style="width:32px"></td>
  <td> <%= perm[key].name %></td>

  <% if(perm[key].d){ %>
  <td> <img src="/images/online.png" height="30" width="30"></td>
  <% } else { %>
  <td> <img src="/images/offline.png" height="30" width="30"></td>
  <% } %>

  <% if(perm[key].v){ %>
  <td> <img src="/images/online.png" height="30" width="30"></td>
  <% } else { %>
  <td> <img src="/images/offline.png" height="30" width="30"></td>
  <% } %>
  <td>    <a class="btn btn-sm btn-danger" onclick="delete_row_permissions('<%= robot.id %>', '<%= key %>')">Delete</a></td>
</tr>
<% }) %>
