<table class="table">
  <tr>
    <th>State</th>
    <th>Name</th>
    <th>Description</th>
    <th>Ip address</th>
    <th>Actions</th>
  </tr>

  <% _.each(robots, function(robot){ %>
  <tr id="<%= robot.id %>" data-model="robot">

    <% if(robot.busy){ %>
    <td id="label_state_<%=robot.id%>"> <span  class="label label-pill label-danger"> Busy </span></td>
    <% } else { %>
    <td id="label_state_<%=robot.id%>"> <span class="label label-pill label-success"> Free </span> </td>
    <% } %>

    <td><%= robot.name %></td>
    <td><%= robot.description %></td>
    <td><%= robot.ipaddress + ':' + robot.port%></td>

    <% switch(type){
    case "my_robots": %>
    <td>
      <a href="/robot/show/<%= robot.id %>" class="btn btn-sm btn-primary"></i> Show </a>
      <% if (robot.busy ){ %>
      <a id="btn_tcontrol_ <%= robot.id%>" href="/interface/show/<%= robot.robot_interface %>" class="btn btn-sm btn-primary hidden"><i class="fa fa-gamepad" aria-hidden="true"></i> Take control</a>
      <a id="btn_config_ <%= robot.id%>" href="/interface/configure/<%= robot.robot_interface %>" class="btn btn-sm btn-warning hidden"><i class="fa fa-wrench" aria-hidden="true"></i> Configure</a>
      <% } else { %>
      <a id="btn_tcontrol_ <%= robot.id%>" href="/interface/show/<%= robot.robot_interface %>" class="btn btn-sm btn-primary"><i class="fa fa-gamepad" aria-hidden="true"></i> Take control</a>
      <a id="btn_config_ <%= robot.id%>" href="/interface/configure/<%= robot.robot_interface %>" class="btn btn-sm btn-warning"><i class="fa fa-wrench" aria-hidden="true"></i> Configure</a>
      <% } %>
      <a href="/robot/edit/<%= robot.id %>" class="btn btn-sm btn-warning"></i> Edit </a>
      <a class="btn btn-sm btn-danger" onclick=" window.location.href='<%='/robot/destroy/' + robot.id %>'"><i class="fa fa-trash-o"></i> Delete </a>

    </td>
    <% break;
    case "my_driver_robots": %>
    <td>
      <% if (robot.busy ){ %>
      <a id="btn_tcontrol_ <%= robot.id%>" href="/interface/show/<%= robot.robot_interface %>" class="btn btn-sm btn-primary hidden"><i class="fa fa-gamepad" aria-hidden="true"></i> Take control</a>
      <a id="btn_view_ <%= robot.id%>" href="/interface/view/<%= robot.robot_interface %>" class="btn btn-sm btn-primary"><i class="fa fa-eye" aria-hidden="true"></i></i> View </a>
      <% } else { %>
      <a id="btn_tcontrol_ <%= robot.id%>" href="/interface/show/<%= robot.robot_interface %>" class="btn btn-sm btn-primary"><i class="fa fa-gamepad" aria-hidden="true"></i> Take control</a>
      <a id="btn_view_ <%= robot.id%>" href="/interface/view/<%= robot.robot_interface %>" class="btn btn-sm btn-primary hidden"><i class="fa fa-eye" aria-hidden="true"></i></i> View </a>
      <% } %>
      <a id="btn_view_ <%= robot.id%>" href="/interface/view/<%= robot.robot_interface %>" class="btn btn-sm btn-primary"><i class="fa fa-eye" aria-hidden="true"></i></i> View </a>
      <a class="btn btn-sm btn-danger" onclick=" unlink('<%= req.session.User.id %>', '<%=robot.id%>', 'driver')"><i class="fa fa-trash-o"></i> Unlink </a>
    </td>

    <% break;
    case "my_viewer_robots": %>
    <td>
      <% if (robot.busy ){ %>
      <a id="btn_tcontrol_ <%= robot.id%>" href="/interface/view/<%= robot.robot_interface %>" class="btn btn-sm btn-primary"><i class="fa fa-eye" aria-hidden="true"></i></i> View </a>
      <% } else { %>
      <a id="btn_view_ <%= robot.id%>" href="/interface/view/<%= robot.robot_interface %>" class="btn btn-sm btn-primary hidden"><i class="fa fa-eye" aria-hidden="true"></i></i> View </a>
      <% } %>
      <a class="btn btn-sm btn-danger" onclick=" unlink('<%= req.session.User.id %>', '<%=robot.id%>', 'viewer')"><i class="fa fa-trash-o"></i> Unlink </a>
    </td>
    <% break;
    } %>
  </tr>
  <% }) %>

</table>



<script type="text/javascript">
  function unlink(user_id, robot_id, type_link) {
    $.ajax({
      url: '/robot/unlink/' + robot_id,
      type: 'GET',
      data: {robot_id: robot_id, user_id: user_id, type_link: type_link},
      done:function() {
      },

      success: function(data){
        $("#" + robot_id).remove();
        bootstrap_alert['success']('Unlink!', 5000 );
      },

      error: function(xhr, status, text) {
        bootstrap_alert['danger'](xhr.responseText, 5000 );
      }
    });
  }
</script>
