<div class="table-responsive">
  <table class="table">
    <tr>
      <th><%= i18n('online') %></th>
      <th><%= i18n('status') %></th>
      <th><%= i18n('name') %></th>
      <th><%= i18n('description') %></th>
      <th><%= i18n('ip_address') %></th>
      <th><%= i18n('user') %></th>
      <th><%= i18n('control') %></th>
      <th><%= i18n('display') %></th>
      <th colspan="6" ><%= i18n('actions') %></th>
      <th></th>

    </tr>

    <% _.each(data.robots, function(robot){ %>
    <tr id="line_<%= robot.id %>" data-model="robot">

      <% if(robot.online){ %>
      <td> <img id="img_state_<%=robot.id%>" src="/images/online.png" height="30" width="30"></td>
      <% } else { %>
      <td> <img id="img_state_<%=robot.id%>" src="/images/offline.png" height="30" width="30"></td>
      <% } %>

      <td><span id="label_state_<%=robot.id%>" class="label label-pill <%= robot.busy ? 'label-danger' : 'label-success' %>"> <%= robot.busy ? i18n('busy') : i18n('free') %> </span></td>

      <td>
        <img src="<%= sails.getBaseUrl() + robot.avatarUrl %>" alt="Avatar" class="card-left card-circle card-margin-right" style="width:30px">
        <a href="/robot/show/<%= robot.id %>"><%= robot.name %></a>
      <td><%= robot.description %></td>

      <td><%= robot.ipaddress + ':' + robot.port %> </td>

      <td>
        <img src="<%= sails.getBaseUrl() + robot.owner.avatarUrl %>" alt="Avatar" class="card-left card-circle card-margin-right" style="width:32px">
        <a href="/user/show/<%= robot.owner.id %>"><%= robot.owner.name %></a>
      </td>

      <% if(robot.public_view){ %>
      <td> <span class="label label-pill label-success"> <%= i18n('public')%> </span></td>
      <% } else { %>
      <td><span class="label label-pill label-danger"> <%= i18n('private')%> </span></td>
      <% } %>

      <% if(robot.public_drive){ %>
      <td> <span class="label label-pill label-success"> <%= i18n('public')%> </span> </td>
      <% } else { %>
      <td> <span class="label label-pill label-danger"> <%= i18n('private')%> </span></td>
      <% } %>

      <td> <a id="btn_tview_<%= robot.id%>" href="/interface/view/<%= robot.iface.id %>" class="btn btn-sm btn-primary <%= ( robot.online && robot.busy) ? '' : 'disabled' %>"><%= i18n('view') %></a> </td>
      <td> <a id="btn_tcontrol_<%= robot.id%>" href="/interface/show/<%= robot.iface.id %>" class="btn btn-sm btn-primary <%= ( robot.online && !robot.busy ) ? '' : 'disabled' %>" ><i class="fa fa-gamepad marginright5"></i> <%= i18n('take_control') %> </a> </td>
      <td> <a id="btn_tconfigure_<%= robot.id%>" href="/interface/configure/<%= robot.iface.id %>" class="btn btn-sm btn-primary <%= robot.online ? 'disabled' : '' %> "><i class="fa fa-wrench marginright5" aria-hidden="true"></i><%= i18n('configure') %></a> </td>
      <td> <a href="/robot/edit/<%= robot.id %>" class="btn btn-sm btn-warning"><%= i18n('edit') %></a> </td>
      <td> <a href="/robot/show/<%= robot.id %>" class="btn btn-sm btn-warning"><%= i18n('show') %></a> </td>

      <td> <a href="/robot/download_code/<%= robot.id %>" class="btn btn-sm btn-warning"><i class="fa fa-code marginright5" aria-hidden="true"></i><%= i18n('donwload_code') %></a> </td>

      <td>
        <form action="/robot/destroy/<%=robot.id%>" method="post">
          <input type="hidden" name="_method" value="delete"/>
          <input type="submit"  class="btn btn-sm btn-danger" value=" <%= i18n('delete')%>"/>
          <input type="hidden" name="_csrf" value="<%= _csrf %>"/>
        </form>
      </td>

    </tr>

    <% }); %>

  </table>
</div>
