<div class="jumbox margintop20">
  <h2 class="form-sigin-heading"><%= i18n('robots') %></h2>
  <div class="table-responsive">
    <table class="table table-striped ">
      <thead>
      <tr>
        <th><%= i18n('online') %></th>
        <th><%= i18n('status') %></th>
        <th><%= i18n('name') %></th>
        <th><%= i18n('description') %></th>
        <th><%= i18n('direction') %></th>
        <th><%= i18n('owner') %></th>
        <th><%= i18n('public_drive') %></th>
        <th><%= i18n('public_view') %></th>
        <th colspan="4"><%= i18n('actions') %></th>
      </tr>
      </thead>

      <tbody id="robot_list">
      <% _.each(data.robots, function(robot){ %>
        <tr id="line_<%= robot.id %>" data-model="robot">

          <% if(robot.online){ %>
            <td> <img id="img_state_<%=robot.id%>" src="/images/online.png" height="30" width="30"></td>
          <% } else { %>
            <td> <img id="img_state_<%=robot.id%>" src="/images/offline.png" height="30" width="30"></td>
          <% } %>

          <td><span id="label_state_<%=robot.id%>" class="label label-pill <%= robot.busy ? 'label-danger' : 'label-success' %>"> <%= robot.busy ? i18n('busy') : i18n('free') %> </span></td>

          <td>
            <img src="<%= sails.getBaseUrl() + robot.avatarUrl %>" alt="Avatar" class="card-left card-circle card-margin-right" style="width:30px">
            <a href="/robot/show/<%= robot.id %>"><%= robot.name %></a>
          </td>
          <td><%= robot.description %></td>

          <td><%= robot.ipaddress + ':' + robot.port %> </td>

          <td>
            <a href="/user/show/<%= robot.owner.id %>"><%= robot.owner.name %></a>
            <img src="<%= sails.getBaseUrl() + robot.owner.avatarUrl %>" alt="Avatar" class="card-left card-circle card-margin-right" style="width:32px">
          </td>

          <% if(robot.public_view){ %>
            <td><span class="label label-pill label-success"> <%= i18n('public')%> </span></td>
          <% } else { %>
            <td><span class="label label-pill label-danger"> <%= i18n('private')%> </span></td>
          <% } %>

          <% if(robot.public_drive){ %>
            <td><span class="label label-pill label-success"> <%= i18n('public')%> </span></td>
          <% } else { %>
            <td><span class="label label-pill label-danger"> <%= i18n('private')%> </span></td>
          <% } %>

          <td><a href="/interface/show/<%= robot.iface.id %>" class="btn btn-sm btn-primary"><%= i18n('interface') %></a></td>
          <td><a href="/robot/edit/<%= robot.id %>" class="btn btn-sm btn-warning"><%= i18n('edit') %></a></td>
          <td>
            <form action="/robot/destroy/<%=robot.id%>" method="post">
              <input type="hidden" name="_method" value="delete"/>
              <input type="submit"  class="btn btn-sm btn-danger" value="<%= i18n('delete')%>"/>
              <input type="hidden" name="_csrf" value="<%= _csrf %>"/>
            </form>
          </td>
       </tr>
      <% })%>
      </tbody>
    </table>
  </div>

  <%- partial ('../_paginate.ejs', { paginate: data.meta.paginate } )%>

</div>

<div id="robot_list"></div>

<script type="text/javascript">

  function subscribeAndListen() {
    io.socket.get('/robot/robot_subscribe');

    io.socket.on('robot', function (obj) {
      if (obj.verb == 'created') {
        var robot = obj.data;
        $.ajax({
          url: '/robot/render',
          type: 'GET',
          data: {id: robot.id},
          success: function(data){
            $("#robot_list").append(data);
           toastr.info('A new robot has been created!', 'Robot' )
          }
        });
      }

      if (obj.verb == 'updated') {

        var data = obj.data;
        change_img_state(data.id, data.online, '<%= i18n('connect')%>', '<%= i18n('disconnect')%>');
        change_img_busy(data.id, data.busy, '<%= i18n('free')%>', '<%= i18n('busy')%>');
        set_actions(data.id, data.busy, data.online);

        if(data.busy){
         toastr.info('Robot busy!', 'Robot' );
        }else{
         toastr.info('Robot free!', 'Robot' );
        }
        console.log('Robot has been updated to busy:' + data.busy);

        if(data.online){
          toastr.info('Robot online!', 'Robot' );
        }else{
          toastr.error('Robot offline!', 'Robot' );
        }
        console.log('Robot has been updated to online:' + data.busy);
      }

      if (obj.verb == 'destroyed') {
        $("#line_" + obj.id).remove();
       toastr.info('A robot has been deleted!', 'Robot' );
      }

    });

  }

</script>


