<%- partial('../_alert.ejs', {flash: flash}) %>

<div class="jumbox">
  <h2 class="form-sigin-heading"><%= i18n('my_robots') %></h2>

  <% if(data_robots.robots.size == 0){ %>
  <div class="alert alert-info margintop20 marginbottom20" role="alert">
    <strong>Ups!</strong>
    You haven't created any robots yet...
  </div>
  <% } else { %>
  <%- partial('_table.ejs', {data: data_robots, type: 'my_robots'}) %>
  <%- partial ('../_paginate.ejs', { paginate: data_robots.meta.paginate, param_name: 'page' } )%>
  <% } %>
</div>

<div class="clear"></div>

<div class="jumbox">
<h3>My Shared Robots</h3>

  <% if(data_driver_robots.robots.size == 0){ %>
  <div class="alert alert-info margintop20 marginbottom20" role="alert">
    <strong>Ups!</strong>
    You haven't created any robots shared yet...
  </div>
  <% } else { %>
  <%- partial('_table.ejs', {data: data_driver_robots, type: 'my_driver_robots'}) %>
  <% } %>

</div>


<div class="clear"></div>

<div class="jumbox">
  <h3>My guest Robots</h3>

  <% if(data_viewer_robots.robots.size == 0){ %>
  <div class="alert alert-info margintop20 marginbottom20" role="alert">
    <strong>Ups!</strong>
    You haven't created any robots shared yet...
  </div>
  <% } else { %>
  <%- partial('_table.ejs', {data: data_viewer_robots, type: 'my_viewer_robots'}) %>
  <% } %>


  <div class="button_right">
    <a href="/robot/new" class="btn btn-sm btn-success">Create a new robot!</a>
  </div>

</div>


<script type="text/javascript">

  function subscribeAndListen(){
    io.socket.get('/robot/robot_subscribe/');

    io.socket.on('robot', function (obj) {
      if (obj.verb == 'updated') {
        var data = obj.data;
        change_free_busy(data.id, data.busy);
        console.log('Robot ' + data.id + ' has been updated to: busy:' + data.busy);

        if (data.busy){
         toastr.info('Robot busy', 'Robot')
        }else{
         toastr.info('Robot free!', 'Robot')
        }
      }

    });
  }
</script>
