<div class="jumbox">
  <h1 class="text-center login-title marginbottom20"><%= i18n('public_robots') %></h1>

    <% _.each(data.robots, function(robot){ %>
      <%- partial('_card.ejs', {robot: robot}) %>
    <% }) %>

  <%- partial ('../_paginate.ejs', { paginate: data.meta.paginate } )%>

</div>


<script type="text/javascript">
  addLoadEvent(subscribeAndListen_robot);

  function subscribeAndListen_robot(){
    io.socket.get('/robot/robot_subscribe/');

    io.socket.on('robot', function (obj) {
      if (obj.verb == 'updated') {
        var data = obj.data;
        change_img_state(data.id, data.online, '<%= i18n('connect')%>', '<%= i18n('disconnect')%>');
        change_img_busy(data.id, data.busy, '<%= i18n('free') %>', '<%= i18n('busy') %>');
        set_actions(data.id, data.busy, data.online);

        console.log('Robot has been updated to: online:' + data.online);
      }
    });
  }
</script>
