<%- partial('../_alert.ejs', {flash: flash}) %>

<div class="container">
  <div class="row">
    <div class="col-sm-6 col-md-4 col-md-offset-4">
      <form action="/robot/create" method="POST" class="form-signin" id="sign-up-form">
        <div class="panel panel-success margintop20">
          <div class="panel-heading">
            <%= i18n('Create_a_robot') %>
          </div>

          <div class="control-group">
            <input type="text" class="form-control" placeholder="name" name="name" required>
          </div>

          <div class="control-group">
            <input type="text" class="form-control" placeholder="description" name="description">
          </div>

          <div class="control-group">
            <input name="ipaddress" id="ip" type="text" class="form-control" placeholder="ip address"  required pattern="((^|\.)((25[0-5])|(2[0-4]\d)|(1\d\d)|([1-9]?\d))){4}$">
          </div>

          <div class="control-group">
            <input type="number" class="form-control" placeholder="port" name="port" required>
          </div>

          <!-- upload images http://maangalabs.com/blog/2014/08/12/uploading-a-file-in-sails/

          otro ejemplo:
          http://plugins.krajee.com/file-input/demo

          -->
          <input type="file" name="uploadPicture" />

          <input type="file" name="uploadDocumentation" />

          <div class="checkbox">
            <label>
              <input type="checkbox" name="public"> Public
            </label>
          </div>

          <div class="control-group">
              <select tabindex="-1" multiple="" data-placeholder="Choose users..." class="chosen-select-users" style="width:360px; height: auto" tabindex="2" name="owners">
                <option value=""></option>
                <% users.forEach(function(user)  { %>
                <option data-img-src="" value="<%= user._id %>"><%= user.name %></option>
                <% }); %>
              </select>
          </div>

          <script type="text/javascript">
            $('.chosen-select-users').chosen({});
          </script>
          <br>
          <input type="submit" class="btn btn-lg btn-primary btn-block" value="Create robot"/>
          <input type="hidden" name="_csrf" value="<%= _csrf %>" />
        </div>
      </form>
    </div>
  </div>
</div>



