<div class="container">
    <h2 class="form-sigin-heading"><%= i18n('robot_information') %></h2>

    <div class="card" style="min-width:300px; width: 30%; margin: auto">
      <header class="card-container card-light-grey">
        <h3><%= robot.name %></h3>
      </header>

      <div class="card-container paddingtop10">
        <span id="label_state_<%=robot.id%>" class="label label-pill <%= robot.busy ? 'label-danger' : 'label-success' %>"> <%= robot.busy ? i18n('busy') : i18n('free') %> </span>
        <img src="<%= sails.getBaseUrl() + user.avatarUrl %>" class="card-circle marginleft5" height="32" width="32">
        <%= user.name %>
      </div>
      <hr>

      <div class="card-container">
        <img src="<%= sails.getBaseUrl() + robot.avatarUrl %>" alt="Avatar" class="card-left card-circle card-margin-right" style="width:75px">
        <p><label><%= i18n('ip_address') + ': ' %></label><%= robot.ipaddress + ':' + robot.port %></p>
        <p><label><%= i18n('description') + ': ' %></label> <%= robot.description  %></p>
        <br>

        <div class="row">
          <div class="col-md-6">
            <label><%= i18n('control')%>:</label>
            <% if (robot.public_drive){ %>
              <span class="label label-pill label-success"> <%= i18n('public')%> </span>
            <%} else {%>
              <ul>
                <% user_driver.forEach(function(user)  { %>
                <li>
                  <img src="<%= sails.getBaseUrl() + user.avatarUrl %>" class="card-circle marginleft5" height="32" width="32">
                  <%= user.name %>
                </li>
              <% }); %>
            </ul>
            <% } %>
          </div>
          <div class="col-md-6">
            <label><%= i18n('seeing')%>:</label>
            <% if (robot.public_view){ %>
              <span class="label label-pill label-success"> <%= i18n('public')%> </span>
            <%} else {%>
            <ul>
              <% user_viewer.forEach(function(user)  { %>
              <li>
                <img src="<%= sails.getBaseUrl() + user.avatarUrl %>" class="card-circle marginleft5" height="32" width="32">
                <%= user.name %>
              </li>
              <% }); %>
            <% } %>
            </ul>
          </div>
        </div>

        <div class="clear"></div>
      </div>

      <div class="card-dark-grey margintop10 card-btn-block">
        <a id="btn_tview_<%= robot.id%>" href="/interface/view/<%= robot.iface %>" class="btn btn-sm btn-primary <%= ( robot.online && robot.busy) ? '' : 'disabled' %>"><%= i18n('view') %></a>
        <a id="btn_tcontrol_<%= robot.id%>" href="/interface/show/<%= robot.iface %>" class="btn btn-sm btn-primary <%= ( robot.online && !robot.busy ) ? '' : 'disabled' %>" ><i class="fa fa-gamepad"></i> <%= i18n('take_control') %> </a>
        <a id="btn_tconfigure_<%= robot.id%>" href="/interface/configure/<%= robot.iface %>" class="btn btn-sm btn-primary <%= robot.online ? 'disabled' : '' %> "><i class="fa fa-wrench" aria-hidden="true"></i><%= i18n('configure') %></a>

        <a class="btn btn-medium btn-primary btn-success" href="/robot/index/<%= robot.id%>"><%= i18n('menu') %></a>
      </div>
    </div>
  </div>


  <script type="text/javascript">
    addLoadEvent(subscribeAndListen_robot);

    function subscribeAndListen_robot(){
      io.socket.get('/robot/robot_subscribe/');

      io.socket.on('robot', function (obj) {
        if (obj.verb == 'updated') {
          var data = obj.data;
          change_img_state(data.id, data.online, '<%= i18n('connect')%>', '<%= i18n('disconnect')%>');
          change_img_busy(data.id, data.busy, '<%= i18n('free') %>', '<%= i18n('busy') %>');
          set_actions(data.id, data.busy, data.online);

          console.log('Robot has been updated to: online:' + data.online);
        }
      });
    }
  </script>

