<%- partial('../_alert.ejs', {flash: flash}) %>

<div class="jumbox">
  <h1 class="text-center login-title marginbottom20 margintop20"><%= i18n('permissions')%></h1>

  <% if(perm.size == 0){ %>
  <div class="alert alert-info margintop20 marginbottom20" role="alert">
    <strong>Ups!</strong>
    This robot is private.
  </div>
  <% } else { %>

  <div class="checkbox">
    <label><input type="checkbox" name="public_drive" <%= robot.public_drive == true ? 'checked' : '' %>><%= i18n('Public')%></label>
  </div>

  <div class="checkbox">
    <label><input type="checkbox" name="public_view" <%= robot.public_view == true ? 'checked' : '' %>><%= i18n('Public')%></label>
  </div>


  <div class="row">
    <div class="col-md-10 col-md-offset-1">

      <table class="table table-hover">
        <thead>
        <tr>
          <th>Username</th>
          <th>Drive</th>
          <th>View</th>
          <th>Actions</th>
        </tr>
        </thead>
        <tbody id="actualizar">

        <% Object.keys(perm).forEach(function (key) { %>
        <tr id="perm_<%= key %>">

          <td> <%= perm[key].name %></td>

          <% if(perm[key].d){ %>
          <td> <img src="/images/online.png" height="30" width="30"></td>
          <% } else { %>
          <td> <img src="/images/offline.png" height="30" width="30"></td>
          <% } %>

          <% if(perm[key].v){ %>
          <td> <img src="/images/online.png" height="30" width="30"></td>
          <% } else { %>
          <td> <img src="/images/offline.png" height="30" width="30"></td>
          <% } %>
          <td> <a class="btn btn-sm btn-danger" onclick="delete_row_permissions('<%= robot.id %>', '<%= key %>')">Delete</a></td>
        </tr>
        <% }) %>
        </tbody>
      </table>
      <% } %>


    </div>
  </div>

  <div class="clear"></div>

  <div class="row">
    <div class="col-md-12">
      <hr class="margintop20">

      <div class="row">
        <div class="col-md-6 marginbottom10">
          <div class="control-group">
            <p><label for="user"><%= i18n("users") %> * :</label></p>
            <select tabindex="-1" multiple="" data-placeholder="Choose users..." class="chzn-select" name="users">
              <option value=""></option>
              <% users.forEach(function(user)  { %>
              <option data-img-src="<%= user.avatarUrl %>" value="<%= user.id %>"><%= user.name %></option>
              <% }); %>
            </select>
            <script type="text/javascript">
              $('.chzn-select').chosen({width: '100%'});
            </script>
          </div>
        </div>


        <div class="col-md-4">
          <div class="control-group">
            <label for="name"><%= i18n("permissions") %> * :</label>
            <p class="paddingtop10">
              Control: <input name="control_check" required="" type="checkbox">
              View: <input name="view_check" type="checkbox">
            </p>
          </div>
        </div>

        <div class="col-md-2 margintop10">
          <a id="down_bottom" class="btn btn-primary btn-success" onclick="new_permissions('<%= robot.id %>')"><%= i18n('add') %></a>
        </div>
      </div>
    </div>
  </div>
</div>


<script type="text/javascript">

  function new_permissions(id) {
    $.ajax({
      url: '/robot/new_permissions/' + id,
      type: 'GET',
      data: {users: $(".chzn-select").val(), control_check: $('input[name=control_check]:checked').val(), view_check: $('input[name=view_check]:checked').val()},
      done:function() {
      },

      success: function(data){
        $('#actualizar').html(data);
        bootstrap_alert['success']('The new permissions has been added!', 5000 );
      },

      error: function(xhr, status, text) {
        bootstrap_alert['danger'](xhr.responseText, 5000 );
      }
    });
  }


  function delete_row_permissions(robot_id, user_id){
    $.ajax({
      url: '/robot/delete_permission/' + robot_id,
      type: 'GET',
      data: {user_id: user_id},
      done:function() {
      },

      success: function(data){
        $("#perm_" + user_id).remove();
        bootstrap_alert['success']('Permissions user has been deleted!', 5000 );
      },

      error: function(xhr, status, text) {
        bootstrap_alert['danger'](xhr.responseText, 5000 );
      }
    });
  }


</script>





