<form id="event-form" class="form-signin" action="create" method="post" data-parsley-validate style="max-width: none">
  <div class="row">
    <div class="col-md-12">
      <div class="control-group marginbottom5">
        <label for="name"><%= i18n("name") %> * :</label>
        <input id="name_field" type="text" class="form-control" required placeholder="<%= i18n("name") %>" name="name">
      </div>
      <div class="control-group marginbottom5">
        <label for="event"><%= i18n("eventname") %> * :</label>
        <input id="event_field" type="text" class="form-control" required placeholder="<%= i18n("eventname") %>" name="event_name">
      </div>

      <div class="control-group">
        <label for="color"><%= i18n("color") %> * :</label>
        <div class="input-group colorpicker-component ">
          <input id="color_field" type="text" class="form-control" />
          <span class="input-group-addon"><i></i></span>
        </div>
      </div>
    </div>
  </div>
  <input type="hidden" name="_csrf" value="<%= _csrf %>" />
</form>


<script type="text/javascript">
  addLoadEvent(set_parsley_lang('<%= (typeof(req.session) !== 'undefined' && req.session.languagePreference) ? req.session.languagePreference : sails.config.i18n.defaultLocale  %>'));

  function submit_function() {
    $('#event-form').parsley().validate()
    var ok = $('.parsley-error').length === 0;

    if (ok){
      $.ajax({
          url: '/event/newevent/' + '<%= interface.id %>',
          type: 'GET',
          data: {
            name: $("#name_field").val(),
            event_name: $("#event_field" ).val(),
            color: $("#color_field").val()
        },

        success: function (data) {
          $("#panel").append(data);
          closeModal();
          toastr.info('A new action has been created!', 'Action');
        },

        error: function (data) {
          show_errors(data.responseText);
        }
      });

    }
  }
</script>
