<form id="event-form" class="form-signin" action="create" method="post" data-parsley-validate style="max-width: none">
  <div class="row">
    <div class="col-md-12">
      <div class="control-group marginbottom5">
        <label for="name"><%= i18n("name") %> * :</label>
        <input id="e_name_field" type="text" class="form-control" required placeholder="<%= i18n("name") %>" name="name">
      </div>
      <div class="control-group marginbottom5">
        <label for="event"><%= i18n("eventname") %> * :</label>
        <input id="event_field" type="text" class="form-control" required placeholder="<%= i18n("eventname") %>" name="event_name">
      </div>
      <div class="control-group marginbottom5">
        <label for="unit"><%= i18n("unit") %> * :</label>
        <input id="unit_field" type="text" class="form-control" placeholder="<%= i18n("unit") %>" name="unit">
      </div>

      <div class="control-group marginbottom5">
        <label for="type"><%= i18n("type") %> *:</label>
        <div class="chosen_container">
          <select data-placeholder="Choose a type..." class="chzn-select-type" tabindex="2" name="element">
            <option value="button">Text field</option>
            <option value="push">Num field</option>
          </select>
        </div>
        <script type="text/javascript">
          $('.chzn-select-type').chosen({width: '100%'});
        </script>
      </div>
    </div>
  </div>
  <input type="hidden" name="_csrf" value="<%= _csrf %>" />
</form>


<script type="text/javascript">
  addLoadEvent(set_parsley_lang('<%= (typeof(req.session) !== 'undefined' && req.session.languagePreference) ? req.session.languagePreference : sails.config.i18n.defaultLocale  %>'));

  function submit_function() {
    $('#event-form').parsley().validate()
    var ok = $('.parsley-error').length === 0;

    if (true){
      $.ajax({
        url: '/event/newevent/' + '<%= interface.id %>',
        type: 'GET',
        data: {name: $( "#e_name_field" ).val(), event_name: $( "#event_field" ).val(), unit: $( "#unit_field" ).val()},

        success: function (data) {
          $("#errors_container").html('');
          $("#panel").append(data);
          $('.modal').modal('toggle');
          bootstrap_alert['success']('A new action has been created!', 5000);
        },

        error: function (xhr) {
          $("#errors_container").html('<p class="bg-danger">' + xhr.responseText + '</p>');
          //bootstrap_alert['danger'](xhr.responseText, 5000);
        }
      });

    }
  }
</script>
