<form id="action-form" class="form-signin" action="newaction" method="post" data-parsley-validate style="max-width: none">
  <div class="row">
    <div class="col-md-6">

        <div class="control-group marginbottom5">
          <label for="name"><%= i18n("name") %> * :</label>
          <input id="name_field" type="text" class="form-control" placeholder="<%= i18n("name") %>" required="" name="name">
        </div>

        <div class="control-group marginbottom5">
          <label for="name"><%= i18n("code") %> * :</label>
          <input id="code_field" type="text" class="form-control" placeholder="<%= i18n("code") %>" required="" name="code">
        </div>

    </div>
    <div class="col-md-6">
      <label for="icon"><%= i18n("selectanicon") %> *:</label>
        <div class="control-group marginbottom5">
          <div>
            <select id="select_icon" data-placeholder="<%= i18n("selectanicon") %>" class="chzn-select-icon" required="" tabindex="2" style="width: 100%">
              <option value=""></option>
              <% _.each(icons, function(icon){ %>
              <option data-img-src="<%= icon.iconUrl %>" value="<%= icon.id %>"><%= icon.name %></option>
              <% })%>
            </select>
          </div>
        </div>

        <div class="control-group margintop10">
          <label class="margintop5" for="name"><%= i18n("color") %> :</label>
          <p>
            <%= i18n('custom') %>: <input id="chk_custom" name="color_default" class="i-checks" value="false" type="checkbox">
          </p>
        </div>
        <script type="text/javascript">
          $('#chk_custom').on('ifChecked', function (){ $('#colorform').show();})
          $('#chk_custom').on('ifUnchecked', function () { $('#colorform').hide(); })
        </script>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div id="colorform" style="display:none">
        <div class="control-group margintop5">
          <label for="colortext"><%= i18n("text") %> * :</label>
          <div id="cp4" class="input-group colorpicker-component ">
            <input id="text_field" type="text" class="form-control" />
            <span class="input-group-addon"><i></i></span>
          </div>
        </div>

        <div class="control-group">
          <label for="colorbackground"><%= i18n("background") %> * :</label>
          <div id="cp" class="input-group colorpicker-component ">
            <input id="background_field" type="text" class="form-control" />
            <span class="input-group-addon"><i></i></span>
          </div>
        </div>

        <div class="control-group">
          <label for="colorbordert"><%= i18n("border") %> * :</label>
          <div id="cp2" class="input-group colorpicker-component ">
            <input id="border_field" type="text" class="form-control" />
            <span class="input-group-addon"><i></i></span>
          </div>
        </div>

        <div class="control-group">
          <label for="colorbordert"><%= i18n("activebackground") %> * :</label>
          <div id="cp3" class="input-group colorpicker-component ">
            <input id="active_background_field" type="text" class="form-control" />
            <span class="input-group-addon"><i></i></span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <input id="action_csrf" type="hidden" name="_csrf" value="<%= _csrf %>" />
</form>

<script type="text/javascript">
  addLoadEvent(set_parsley_lang('<%= (typeof(req.session) !== 'undefined' && req.session.languagePreference) ? req.session.languagePreference : sails.config.i18n.defaultLocale  %>'));

  $('#action-form').parsley().subscribe('parsley:form:validate', function (formInstance) {
    if ( $("#name_field").parsley().isValid() || $("#select_icon").parsley().isValid() ){
      $("#name_field").removeAttr('required').parsley().destroy();
      $("#select_icon").removeAttr('required').parsley().destroy();
    }else{
      $("#name_field").attr('required', 'required').parsley();
      $("#select_icon").attr('required', 'required').parsley();
    }
  });


  function submit_function() {

    $('#action-form').parsley().validate();
    var ok = $('.parsley-error').length === 0;

    if (true){
      $.ajax({
        url: '/action/newaction/' + '<%= interface.id %>',
        type: 'GET',
        data: {
          name: $("#name_field").val(),
          code: $("#code_field").val(),
          color_background: $("#background_field").val(),
          color_border: $("#border_field").val(),
          color_active_background: $("#active_background_field").val(),
          color_text: $("#text_field").val(),
          icon: $(".chzn-select-icon").val(),
          custom_color: $("#chk_custom").is(':checked')
        },

        success: function (data) {
          $("#panel").append(data);
          closeModal();
        },

        error: function (data) {
          show_errors(data.responseText);
        }
      });

    }
  }
</script>
